<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center my-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Further Education</li>
    </ol>
</nav>

<div class="position-relative d-flex flex-column w-100" style="height: 400px;
background: linear-gradient(0deg, rgb(0 0 0 / 89%), rgb(0 0 0 / 69%), rgb(0 0 0 / 75%)), url(../img/work-with-us-landing.jpg);
background-size: cover;">
    <!-- <img src="../img/work-with-us-landing.jpg" class="w-100" style="filter: brightness(.2);"> -->
    <div class="position-absolute"
        style="background-color: rgba(255, 255, 255, 0.678);color: black;top: 20%; left: 10%; padding: 1rem 3rem; border-bottom: 2px solid red;">
        <p>Welcome to Further Education </p>
        <p>Explore <span style="border-bottom: 1px solid red;">Job Opportunities</span> on our Job Section</p>
        <p>Find Your Next Career Move!</p>
    </div>

</div>

<div class="d-flex flex-column position-relative w-100 align-items-center mt-2">

   

    <div class="d-flex flex-row w-75 gap-3 mt-2 " style="border: 1px solid;padding: 6px;border-radius: 10px;">
        <label style="transform: translate(6px, -16px);
        -webkit-transform: translate(6px, -16px);position: absolute;
        -moz-transform: translate(6px, -16px);
        -ms-transform: translate(6px, -16px);
        -o-transform: translate(6px, -16px);
        background-color: white;
        padding: 0 5px;
        font-size: smaller;
        width: fit-content;">Filters</label>

        <div class="styled-input w-75 mt-2">
            <input class="w-100" required type="text" id="a1" style="outline: none;" value="year 2023">
            <label>Search Course</label>
        </div>  

        <button type="button" class="btn btn-primary w-25 m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Study Level
            <svg height="20" width="20" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 499.108 499.108" xml:space="preserve"
                fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <g>
                        <path style="fill:#303030;"
                            d="M488.466,242.8l-46.792-21.696c-6.784-3.168-14.6-3.176-21.408-0.064l-160.08,73.184 c-6.752,3.08-14.52,3.08-21.264,0L78.81,221.048c-6.8-3.12-14.624-3.104-21.408,0.064L10.61,242.808 c-6.792,3.16-6.76,12.768,0.056,15.888l228.248,104.328c6.744,3.104,14.512,3.104,21.264,0L488.41,258.696 C495.234,255.568,495.266,245.96,488.466,242.8z">
                        </path>
                        <path style="fill:#303030;"
                            d="M488.466,376.568l-46.792-21.728c-6.784-3.136-14.6-3.168-21.408-0.064l-160.08,73.2 c-6.752,3.088-14.52,3.088-21.264,0L78.81,354.784c-6.8-3.104-14.624-3.072-21.408,0.064L10.61,376.576 c-6.792,3.136-6.76,12.744,0.056,15.864l228.248,104.352c6.744,3.088,14.512,3.088,21.264,0l228.24-104.36 C495.234,389.312,495.266,379.704,488.466,376.568z">
                        </path>
                    </g>
                    <g>
                        <path style="fill:#d72828;"
                            d="M488.466,242.8l-15.24-7.064l-213.04,97.392c-6.752,3.088-14.52,3.088-21.264,0L25.866,235.736 L10.618,242.8c-6.792,3.16-6.76,12.768,0.056,15.888l228.248,104.328c6.744,3.104,14.512,3.104,21.264,0l228.232-104.328 C495.234,255.568,495.266,245.96,488.466,242.8z">
                        </path>
                        <path style="fill:#d72828;"
                            d="M488.466,376.568l-15.24-7.088l-213.04,97.4c-6.752,3.104-14.52,3.104-21.264,0l-213.064-97.4 l-15.24,7.088c-6.792,3.136-6.76,12.744,0.056,15.864l228.248,104.352c6.744,3.088,14.512,3.088,21.264,0l228.232-104.352 C495.234,389.312,495.266,379.704,488.466,376.568z">
                        </path>
                    </g>
                    <path style="fill:#303030;"
                        d="M488.466,107.872L261.986,2.736c-7.888-3.648-16.976-3.648-24.864,0L10.634,107.872 c-6.808,3.152-6.776,12.76,0.04,15.888l228.232,104.328c6.752,3.096,14.52,3.096,21.272,0l228.24-104.328 C495.234,120.632,495.258,111.024,488.466,107.872z">
                    </path>
                    <path style="fill:#3F4240;"
                        d="M488.466,107.872L261.986,2.736c-7.888-3.648-16.976-3.648-24.864,0L10.634,107.872 c-6.808,3.152-6.776,12.76,0.04,15.888l228.232,104.328c6.752,3.096,14.52,3.096,21.272,0l228.24-104.328 C495.234,120.632,495.258,111.024,488.466,107.872z">
                    </path>
                    <path style="fill:#303030;"
                        d="M488.466,107.872L262.09,2.736c-4.016-1.848-4.544-2.744-12.544-2.712v230.368 c0,0.032,7.296-0.728,10.736-2.296l228.192-104.328C495.29,120.632,495.258,111.024,488.466,107.872z">
                    </path>
                    <path style="fill:#d72828;"
                        d="M488.466,107.872l-15.224-7.072l-213.064,97.408c-6.752,3.096-14.52,3.096-21.272,0L25.85,100.8 l-15.216,7.072c-6.808,3.152-6.776,12.76,0.04,15.888l228.232,104.328c6.752,3.096,14.52,3.096,21.272,0l228.24-104.328 C495.234,120.632,495.258,111.024,488.466,107.872z">
                    </path>
                </g>
            </svg>
        </button>

        <button type="button" class="btn btn-primary w-25 m-1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Category
            <svg height="24" width="24" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg"
                stroke="#f50000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M7.24 2H5.34C3.15 2 2 3.15 2 5.33V7.23C2 9.41 3.15 10.56 5.33 10.56H7.23C9.41 10.56 10.56 9.41 10.56 7.23V5.33C10.57 3.15 9.42 2 7.24 2Z"
                        fill="#327ad2"></path>
                    <path opacity="0.4"
                        d="M18.6695 2H16.7695C14.5895 2 13.4395 3.15 13.4395 5.33V7.23C13.4395 9.41 14.5895 10.56 16.7695 10.56H18.6695C20.8495 10.56 21.9995 9.41 21.9995 7.23V5.33C21.9995 3.15 20.8495 2 18.6695 2Z"
                        fill="#327ad2"></path>
                    <path
                        d="M18.6695 13.4302H16.7695C14.5895 13.4302 13.4395 14.5802 13.4395 16.7602V18.6602C13.4395 20.8402 14.5895 21.9902 16.7695 21.9902H18.6695C20.8495 21.9902 21.9995 20.8402 21.9995 18.6602V16.7602C21.9995 14.5802 20.8495 13.4302 18.6695 13.4302Z"
                        fill="#327ad2"></path>
                    <path opacity="0.4"
                        d="M7.24 13.4302H5.34C3.15 13.4302 2 14.5802 2 16.7602V18.6602C2 20.8502 3.15 22.0002 5.33 22.0002H7.23C9.41 22.0002 10.56 20.8502 10.56 18.6702V16.7702C10.57 14.5802 9.42 13.4302 7.24 13.4302Z"
                        fill="#327ad2"></path>
                </g>
            </svg>
        </button>

    </div>


    <div class="coursesContainer d-flex flex-column">

        <div class="d-flex flex-row my-3 border border-3">
            <div><img src="../img/x1.JPG" style="width: 30vw;height: auto;min-width: 300px; max-width: 350px;"></div>
            <div class="d-flex flex-column mx-4 my-1">
                <h3 style="text-decoration: underline; cursor: pointer;">MSc Applied AI and Data Science</h3>
                <p>Want to start a career in one of the most fascinating and in-demand fields of AI (Artificial
                    Intelligence) and Data Science? Using student-centric and problem-based approach...</p>
                <div class="d-flex gap-4">
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time</span>
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time with
                        placement</span>
                </div>
                <div class="d-flex gap-4 my-2">
                    <span class="btn btn-primary">Available 2023 <input type="checkbox" readonly checked></span>
                    <span class="btn btn-primary">Entry requirements: 2:2 <input type="checkbox" readonly checked></span>
                    <span></span>
                </div>
                <span class="text-end"><button style="box-shadow: 0px 0px 20px 0px grey;width: 25%;" class="btn btn-white border border-3" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></span>
            </div>  
        </div>

        <div class="d-flex flex-row my-3 border border-3">
            <div><img src="../img/x2.JPG" style="width: 30vw;height: auto;min-width: 300px; max-width: 350px;"></div>
            <div class="d-flex flex-column mx-4 my-1">
                <h3 style="text-decoration: underline; cursor: pointer;">MSc Clinical Exercise Science</h3>
                <p>The MSc in Clinical Exercise Science explores the science behind physical health and exercise and the impact it has on individuals with clinical disease. This course will...</p>
                <div class="d-flex gap-4">
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time</span>
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">2 years part-time</span>
                </div>
                <div class="d-flex gap-4 my-2">
                    <span class="btn btn-primary">Available 2023 <input type="checkbox" readonly checked></span>
                    <span class="btn btn-primary">Entry requirements: 2:2 <input type="checkbox" readonly checked></span>
                    <span></span>
                </div>
                
                <span class="text-end"><button style="box-shadow: 0px 0px 20px 0px grey;width: 25%;" class="btn btn-white border border-3" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></span>
            </div>
        </div>

        <div class="d-flex flex-row my-3 border border-3">
            <div><img src="../img/x3.JPG" style="width: 30vw;height: auto;min-width: 300px; max-width: 350px;"></div>
            <div class="d-flex flex-column mx-4 my-1">
                <h3 style="text-decoration: underline; cursor: pointer;">LLM Commercial Law and Professional Legal Practice</h3>
                <p>Designed for professionals looking to enhance their CV, this specialist master’s offers insight into real-world commercial law alongside the practical expertise to add value in business, management, compliance, legal, tech, HR and other roles...</p>
                <div class="d-flex gap-4">
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time</span>
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">2 year part-time</span>
                </div>
                <div class="d-flex gap-4 my-2">
                    <span class="btn btn-primary">Available 2023 <input type="checkbox" readonly checked></span>
                    <span class="btn btn-primary">Entry requirements: 2:2 <input type="checkbox" readonly checked></span>
                    <span></span>
                </div>
                
                <span class="text-end"><button style="box-shadow: 0px 0px 20px 0px grey;width: 25%;" class="btn btn-white border border-3" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></span>
            </div>
        </div>

        <div class="d-flex flex-row my-3 border border-3">
            <div><img src="../img/x4.JPG" style="width: 30vw;height: auto;min-width: 300px; max-width: 350px;"></div>
            <div class="d-flex flex-column mx-4 my-1">
                <h3 style="text-decoration: underline; cursor: pointer;">MSc Computer Engineering</h3>
                <p>Are you a keen problem-solver looking to learn new skills in computer engineering? Solent’s computer engineering postgraduate conversion degree is well-suited to students from...</p>
                <div class="d-flex gap-4">
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time</span>
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time with
                        placement</span>
                </div>
                <div class="d-flex gap-4 my-2">
                    <span class="btn btn-primary">Available 2023 <input type="checkbox" readonly checked></span>
                    <span class="btn btn-primary">Entry requirements: 2:2 <input type="checkbox" readonly checked></span>
                    <span></span>
                </div>
                
                <span class="text-end"><button style="box-shadow: 0px 0px 20px 0px grey;width: 25%;" class="btn btn-white border border-3" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></span>
            </div>
        </div>

        <div class="d-flex flex-row my-3 border border-3">
            <div><img src="../img/x1.JPG" style="width: 30vw;height: auto;min-width: 300px; max-width: 350px;"></div>
            <div class="d-flex flex-column mx-4 my-1">
                <h3 style="text-decoration: underline; cursor: pointer;">MSc Applied AI and Data Science</h3>
                <p>Want to start a career in one of the most fascinating and in-demand fields of AI (Artificial
                    Intelligence) and Data Science? Using student-centric and problem-based approach...</p>
                <div class="d-flex gap-4">
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time</span>
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time with
                        placement</span>
                </div>
                <div class="d-flex gap-4 my-2">
                    <span class="btn btn-primary">Available 2023 <input type="checkbox" readonly checked></span>
                    <span class="btn btn-primary">Entry requirements: 2:2 <input type="checkbox" readonly checked></span>
                    <span></span>
                </div>
                
                <span class="text-end"><button style="box-shadow: 0px 0px 20px 0px grey;width: 25%;" class="btn btn-white border border-3" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></span>
            </div>
        </div>

        <div class="d-flex flex-row my-3 border border-3">
            <div><img src="../img/x2.JPG" style="width: 30vw;height: auto;min-width: 300px; max-width: 350px;"></div>
            <div class="d-flex flex-column mx-4 my-1">
                <h3 style="text-decoration: underline; cursor: pointer;">MSc Clinical Exercise Science</h3>
                <p>The MSc in Clinical Exercise Science explores the science behind physical health and exercise and the impact it has on individuals with clinical disease. This course will...</p>
                <div class="d-flex gap-4">
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time</span>
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">2 years part-time</span>
                </div>
                <div class="d-flex gap-4 my-2">
                    <span class="btn btn-primary">Available 2023 <input type="checkbox" readonly checked></span>
                    <span class="btn btn-primary">Entry requirements: 2:2 <input type="checkbox" readonly checked></span>
                    <span></span>
                </div>
                
                <span class="text-end"><button style="box-shadow: 0px 0px 20px 0px grey;width: 25%;" class="btn btn-white border border-3" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></span>
            </div>
        </div>

        <div class="d-flex flex-row my-3 border border-3">
            <div><img src="../img/x3.JPG" style="width: 30vw;height: auto;min-width: 300px; max-width: 350px;"></div>
            <div class="d-flex flex-column mx-4 my-1">
                <h3 style="text-decoration: underline; cursor: pointer;">LLM Commercial Law and Professional Legal Practice</h3>
                <p>Designed for professionals looking to enhance their CV, this specialist master’s offers insight into real-world commercial law alongside the practical expertise to add value in business, management, compliance, legal, tech, HR and other roles...</p>
                <div class="d-flex gap-4">
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time</span>
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">2 year part-time</span>
                </div>
                <div class="d-flex gap-4 my-2">
                    <span class="btn btn-primary">Available 2023 <input type="checkbox" readonly checked></span>
                    <span class="btn btn-primary">Entry requirements: 2:2 <input type="checkbox" readonly checked></span>
                    <span></span>
                </div>
                
                <span class="text-end"><button style="box-shadow: 0px 0px 20px 0px grey;width: 25%;" class="btn btn-white border border-3" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></span>
            </div>
        </div>

        <div class="d-flex flex-row my-3 border border-3">
            <div><img src="../img/x4.JPG" style="width: 30vw;height: auto;min-width: 300px; max-width: 350px;"></div>
            <div class="d-flex flex-column mx-4 my-1">
                <h3 style="text-decoration: underline; cursor: pointer;">MSc Computer Engineering</h3>
                <p>Are you a keen problem-solver looking to learn new skills in computer engineering? Solent’s computer engineering postgraduate conversion degree is well-suited to students from...</p>
                <div class="d-flex gap-4">
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time</span>
                    <span style="flex-basis: 45%;" class="bg-danger py-1 px-4 rounded text-center text-white">1 year full-time with
                        placement</span>
                </div>
                <div class="d-flex gap-4 my-2">
                    <span class="btn btn-primary">Available 2023 <input type="checkbox" readonly checked></span>
                    <span class="btn btn-primary">Entry requirements: 2:2 <input type="checkbox" readonly checked></span>
                    <span></span>
                </div>
                
                <span class="text-end"><button style="box-shadow: 0px 0px 20px 0px grey;width: 25%;" class="btn btn-white border border-3" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></span>
            </div>
        </div>



    </div>

</div>
















<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Study Level</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">
                <span><input type="checkbox"> Foundation</span>
                <span><input type="checkbox"> Placement</span>
                <span><input type="checkbox"> Part-Time</span>
                <span><input type="checkbox"> Full-Time</span>
                <span><input type="checkbox"> Apprenticeship</span>
                <span><input type="checkbox"> Professional</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply filters</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">
                <span><input type="checkbox"> Architecture</span>
                <span><input type="checkbox"> Art and design</span>
                <span><input type="checkbox"> Business, marketing and finance</span>
                <span><input type="checkbox"> ComputingDigital</span>
                <span><input type="checkbox"> Film TV</span>
                <span><input type="checkbox"> Health and medical science</span>
                <span><input type="checkbox"> Law</span>
                <span><input type="checkbox"> Maritime</span>
                <span><input type="checkbox"> Psychology and mental health</span>
                <span><input type="checkbox"> Sport and fitness</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply filters</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Application Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">

                <ul class="nav nav-pills mb-3 align-items-center" id="pills-tab2" role="tablist">
                    <li class="nav-item" role="presentation" style="flex-basis: 15%;white-space: nowrap;">
                        <button class="nav-link active" id="pills-home-tab2" data-bs-toggle="pill" data-bs-target="#pills-home2" type="button" role="tab" aria-controls="pills-home2" aria-selected="true">
                            <span>Step 1</span></button>
                    </li>>
                    <li class="nav-item" role="presentation" style="flex-basis: 15%;white-space: nowrap;">
                        <button id="np2x" class="nav-link" id="pills-profile-tab2" data-bs-toggle="pill" data-bs-target="#pills-profile2" type="button" role="tab" aria-controls="pills-profile2" aria-selected="false"> <span>
                                Step 2</span></button>
                    </li>>
                    <li class="nav-item" role="presentation" style="flex-basis: 15%;white-space: nowrap;">
                        <button id="np3x" class="nav-link" id="pills-contact-ta2b" data-bs-toggle="pill" data-bs-target="#pills-contact2" type="button" role="tab" aria-controls="pills-contact2" aria-selected="false"> <span>
                            Complete
                            </span></button>
                    </li>
                </ul>
                
                <div class="tab-content position-relative" id="pills-tabContent2">
                    <div class="tab-pane fade show active d-flex flex-column align-items-center gap-2" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2">
                        <div class="styled-input w-75" onclick="ac()">
                            <input required="" type="text" id="az1" class="w-100">
                            <label>Name</label>
                        </div>
            
                        <div class="styled-input w-75" onclick="ac()">
                            <input required="" type="text" id="az2" class="w-100">
                            <label>Date Of Birth</label>
                        </div>
            
                        <div class="styled-input w-75" onclick="ac()">
                            <input required="" type="text" id="az3" class="w-100">
                            <label>Address</label>
                        </div>
            
                        <div class="styled-input mb-4 d-flex align-items-end w-75">
                            <button style="transition: 1s;height: 30px;padding: 0 3rem!important;" type="button" onclick="document.getElementById('np2x').click()">Next!</button>
                        </div>

                    </div>
                    <div class="tab-pane d-flex flex-column align-items-center gap-2 fade " id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">
                        <div class="styled-input w-75 d-flex flex-column gap-1" onclick="ac()" style="height: unset;">
                            <span><button class="mx-3">Choose File</button> proof-of-id.jpg</span>
                            <span><button class="mx-3">Choose File</button> proof-of-address.jpg</span>
                            <span><button class="mx-3">Choose File</button> proof-of-income.jpg</span>
                            <span><button class="mx-3">Choose File</button> proof-of-student-finance.jpg</span>
                            <span style="white-space: nowrap;    display: flex;
                            justify-content: center;gap:1rem;"><input type="checkbox" style="width: unset;" checked><span>I agree to the T&Cs.</span> </span>
                            
                        </div>
            
                        <div class="styled-input mb-4 d-flex align-items-end w-75">
                            <button style="transition: 1s;height: 30px;padding: 0 3rem!important;" type="button" onclick="document.getElementById('np3x').click()">Next!</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab2">
                        <div class="alert alert-success" role="alert">Congratulation! Your application has beed submitted. <br><br> Our team will start the verification process and you will soon have an email with your registration package with all the details you need to start your amazing journey!</div>
                    </div>    
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="display: none;">Apply filters</button>
            </div>
        </div>
    </div>
</div>





<script>
    let aced = false
    function ac(){
        if(aced) return
        document.getElementById('az1').value = `Jim Johnson`
        document.getElementById('az2').value = `25/06/1990`
        document.getElementById('az3').value = `7 Dove Street, Worcester, WR5 9EF`
        aced = true
    }
</script>