<div class="footer d-flex flex-column gap-4">
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <div>
            <ul>
                <li>About Solent</li>
                <li><a href="#">Our governance</a></li>
                <li><a href="#">Term dates</a></li>
                <li><a href="#">Facts and figures</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Explore</li>
                <li><a href="#">A-Z course directory</a></li>
                <li><a href="#">Get a prospectus</a></li>
                <li><a href="#">Virtual tours</a></li>
                <li><a href="#">Academic faculties and schools</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Get in touch</li>
                <li><a href="findus">Find us</a></li>
                <li><a href="support">Online Chat Support</a></li>
            </ul>
        </div>
    </div>



    <div class="d-flex flex-row justify-content-around flex-wrap">
        <div class=" flex-wrap mx-4 my-4"><img  class="ic-xl" src="../img/qaa-membership-badge-white-500x500.xcd16f579.png" alt=""></div>
        <div class="d-flex gap-4 align-items-center flex-wrap justify-content-center">
            <svg  class="ic-lg" xmlns="http://www.w3.org/2000/svg" fill="white" width="40" height="40" fill-rule="evenodd" viewBox="0 0 29.267 29.267" class="sc-3e2d4e0-3 qNgmx"><path d="M16.216 0c1.65 0 2.471.013 3.2.036l.24.008c.318.011.634.025 1.013.043a10.742 10.742 0 0 1 3.552.68 7.179 7.179 0 0 1 2.592 1.688 7.182 7.182 0 0 1 1.688 2.592 10.734 10.734 0 0 1 .68 3.552c.065 1.419.085 1.96.088 5.032v2c0 2.048-.012 2.972-.037 3.78l-.008.24c-.012.318-.026.634-.043 1.013a10.734 10.734 0 0 1-.68 3.552 7.484 7.484 0 0 1-4.28 4.28 10.744 10.744 0 0 1-3.552.68c-.379.017-.7.031-1.013.043l-.24.008c-.808.025-1.731.035-3.78.037h-2c-3.073 0-3.614-.023-5.033-.088a10.744 10.744 0 0 1-3.552-.68 7.484 7.484 0 0 1-4.28-4.28 10.734 10.734 0 0 1-.68-3.552c-.017-.378-.031-.694-.043-1.013l-.008-.24c-.023-.727-.033-1.548-.036-3.2V13.05c0-2.567.026-3.126.087-4.451a10.734 10.734 0 0 1 .68-3.552 7.169 7.169 0 0 1 1.688-2.592A7.179 7.179 0 0 1 5.047.767a10.742 10.742 0 0 1 3.552-.68C9.923.026 10.483.005 13.05 0Zm-1.583 2.635h-1.277c-1.9 0-2.741.012-3.523.039l-.234.008c-.273.01-.552.023-.88.038a8.1 8.1 0 0 0-2.717.5 4.842 4.842 0 0 0-2.779 2.782 8.078 8.078 0 0 0-.5 2.717l-.038.879-.008.234c-.026.782-.036 1.621-.039 3.523v2.554c0 1.9.013 2.741.039 3.523l.008.234.038.879a8.079 8.079 0 0 0 .5 2.722A4.842 4.842 0 0 0 6 26.044a8.1 8.1 0 0 0 2.717.5l.88.038.351.012c.791.025 1.688.033 3.7.035h1.968c2.112 0 2.995-.011 3.816-.039l.234-.008c.273-.01.552-.023.879-.038a8.1 8.1 0 0 0 2.718-.5 4.849 4.849 0 0 0 2.778-2.777 8.1 8.1 0 0 0 .5-2.717l.038-.879.008-.234c.027-.821.037-1.7.039-3.816v-1.972c0-2.112-.012-3-.039-3.817l-.008-.234-.038-.879a8.1 8.1 0 0 0-.5-2.717 4.53 4.53 0 0 0-1.1-1.683 4.531 4.531 0 0 0-1.682-1.095 8.1 8.1 0 0 0-2.718-.5l-.879-.038-.234-.008c-.782-.026-1.621-.036-3.523-.039h-1.272Zm0 4.483a7.515 7.515 0 1 1-7.515 7.515 7.515 7.515 0 0 1 7.515-7.515Zm0 2.637a4.878 4.878 0 1 0 4.878 4.878 4.878 4.878 0 0 0-4.878-4.878Zm7.812-4.69a1.756 1.756 0 1 1-1.756 1.756 1.756 1.756 0 0 1 1.756-1.754Z"></path></svg>
        <svg  class="ic-lg" xmlns="http://www.w3.org/2000/svg" fill="white" width="40" height="40" preserveAspectRatio="xMinYMin" viewBox="0 0 32 32" class="sc-3e2d4e0-3 qNgmx"><path d="m29 5.825 2-4-3 2-.584.291c-1.191-1.393-2.939-2.291-4.916-2.291-3.59 0-6.5 2.41-6.5 6 0 .488.063 1.459.166 1.914L16 9.825s-13-2-14-7c0 0-3 5 2 9 0 0-2 .998-3 0 0 0 0 3 5 6 0 0-2 .998-3 0 0 0 4 3.998 6 3.998 0 0 0 3-9 3 0 0 11.379 7.498 22-.998 5.398-4.32 6.715-9.793 6.783-13.922A6.371 6.371 0 0 0 29 8.325v-.5l3-3-3 1z"></path></svg>
       <svg  class="ic-lg" xmlns="http://www.w3.org/2000/svg" fill="white" width="40" height="40" preserveAspectRatio="xMinYMin" viewBox="0 0 32 32" class="sc-3e2d4e0-3 qNgmx"><path d="m18 12-.172-3.27c0-1.582.416-2.707 2.642-2.707h3.472V1.289c-.491-.066-1.523-.281-3.484-.281-4.093 0-7.565 2.777-7.565 7.453L13 12H8v5h5v14h5V17h5l1-5h-6z"></path></svg>
        <svg  class="ic-lg" xmlns="http://www.w3.org/2000/svg" fill="white" width="40" height="40" viewBox="0 0 32 19.22" class="sc-3e2d4e0-3 qNgmx"><path d="M28 19.222H4a4.005 4.005 0 0 1-4-4V4.003a4.005 4.005 0 0 1 4-4h24a4 4 0 0 1 4 4v11.219a4 4 0 0 1-4 4ZM12.526 4.957v9.609l7.872-4.8-7.872-4.805Z"></path></svg>
        <svg  class="ic-lg" viewBox="0 0 28 32" fill="white" width="40" height="40" xmlns="http://www.w3.org/2000/svg" class="sc-3e2d4e0-3 qNgmx"><path d="M27.827 8.136c-1.8 0-3.463-.597-4.797-1.604A7.958 7.958 0 0 1 19.858.246h-5.144v14.058l-.007 7.7a4.656 4.656 0 0 1-3.199 4.418 4.677 4.677 0 0 1-1.728.23 4.637 4.637 0 0 1-2.13-.654 4.657 4.657 0 0 1-2.276-3.924 4.66 4.66 0 0 1 4.666-4.725 4.68 4.68 0 0 1 1.469.236v-5.223c-.488-.072-.983-.11-1.484-.11a9.865 9.865 0 0 0-7.413 3.316A9.65 9.65 0 0 0 .177 21.39a9.639 9.639 0 0 0 2.871 7.51 9.87 9.87 0 0 0 6.977 2.856c.501 0 .997-.038 1.484-.11a9.833 9.833 0 0 0 5.493-2.747 9.63 9.63 0 0 0 2.89-6.855l-.027-11.499a13.014 13.014 0 0 0 7.977 2.71v-5.12h-.015z"></path></svg>
        <svg  class="ic-lg" xmlns="http://www.w3.org/2000/svg" fill="white" width="40" height="40" preserveAspectRatio="xMinYMin" viewBox="0 0 32 32" class="sc-3e2d4e0-3 qNgmx"><path d="M18.054 14.934v-.038l-.026.038h.026zM27.333 2H4.667A2.666 2.666 0 0 0 2 4.664v22.668A2.668 2.668 0 0 0 4.667 30h22.667A2.668 2.668 0 0 0 30 27.332V4.664A2.666 2.666 0 0 0 27.333 2zM8.899 7.99c1.149 0 1.857.857 1.879 1.982 0 1.102-.729 1.984-1.901 1.984h-.022c-1.128 0-1.857-.883-1.857-1.984.001-1.124.752-1.982 1.901-1.982zm2.093 17.016H7.197V13.197h3.794v11.809zm14.997 0h-3.927v-6.1c0-1.531-.443-2.578-1.865-2.578-1.084 0-1.73.705-2.014 1.387-.104.242-.13.582-.13.922v6.369h-4.052s.052-10.654 0-11.725h4.052v1.615c.521-.776 1.453-1.882 3.539-1.882 2.584 0 4.396 1.951 4.396 5.455v6.537z"></path></svg></div>
    </div>

    <div class="d-flex flex-row justify-content-between m-2 p-1 flex-wrap">
        <div class="text-white">© Solent University</div>
        <div>
            <a class="aStyle" href="#">Disclaimer</a>
            <a class="aStyle" href="#">Privacy policy</a>
            <a class="aStyle" href="#">Cookies</a>
            <a class="aStyle" href="#">Accessibility</a>
            <a class="aStyle" href="#">Transparency return</a>
        </div>
    </div>

</div>

<div>
    <a  href="/support" 
    style="position: fixed;
    bottom: 10%;
    right: -53px;
    transform: rotate(270deg);
    text-decoration: none;
    font-size: larger;
    color: red;
    padding: 8px 20px;
    background: white;
    border-radius: 30px 30px 0px 0px;
    border: 1px solid;"
    >Chat Support</a>
</div>