<div id="carouselExampleIndicators" class="carousel slide carousel-fade position-relative" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div id="i1" class="carousel-item active">
        </div>
        <div id="i2" class="carousel-item">
        </div>
        <div id="i3" class="carousel-item">
        </div>
    </div>

    <div class="heroText w-50">
        <div>
            <p><span class="fs-4">WELCOME TO YOUR ALUMNI NETWORK</span><br> of talented individuals just like you,
                located all around the world - each with a special connection to Solent University. </p>
        </div>
    </div>
</div>


<div class="p-5 m-3">
    <p>Whether it’s been days or decades since you left us, or you’re soon to don your cap and gown, things are
        constantly changing at Solent. We’re always innovating, but we’re also immensely proud of our heritage. And that
        means you.

        Remember to keep us up-to-date with any changes to your details to continue receiving the latest news, events
        and opportunities.

        If you undertook your course at <span style="border-bottom: 1px solid red;">Warsash Maritime School</span>, head
        over to your Warsash alumni community <a title="Warsash Maritime School alumni" class="aStyle2"
            href="https://maritime.solent.ac.uk/about/alumni">here</a>.

        Stay connected, stay Solent for life.</p>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">
            <span>Alumni Dashboard</span></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false"> <span>Students
                Dashboard</span></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
            type="button" role="tab" aria-controls="pills-contact" aria-selected="false"> <span>News And Events
            </span></button>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="cardAlumniContainer d-flex flex-row flex-nowrap" style="overflow-x: scroll;">

            <div class="card cardAlumni" style="border:none;">
                <div class="card-body" onclick="window.location = window.location.origin+'/update-acc-alumni'"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <svg height="110" width="110" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-39.03 -39.03 468.33 468.33"
                            xml:space="preserve" fill="#295d8e" stroke="#295d8e" stroke-width="0.00390271"
                            transform="matrix(-1, 0, 0, -1, 0, 0)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                stroke="#295d8e" stroke-width="7.805420000000001">
                                <path style="fill:#295d8e;"
                                    d="M195.167,21.657c36.848,0,71.564,11.378,100.784,32.517h-16.808c-5.947,0-10.861,4.848-10.861,10.861 s4.848,10.861,10.861,10.861h46.093c5.947,0,10.861-4.848,10.861-10.861V18.941c0-5.947-4.848-10.861-10.861-10.861 s-10.861,4.848-10.861,10.861v21.657C280.242,14.093,238.545,0,195.167,0C87.337,0,0.064,87.273,0.064,195.103 c0,5.947,4.848,10.861,10.861,10.861s10.861-4.848,10.861-10.861C21.721,99.685,99.749,21.657,195.167,21.657z">
                                </path>
                                <path style="fill:#009dff;"
                                    d="M302.998,180.428v29.285h-17.907c-4.848,0-9.244,3.232-10.279,8.145 c-2.198,6.529-4.331,12.477-7.564,17.907c-2.715,4.331-1.616,9.762,1.616,12.994l12.994,12.994l-20.558,20.622l-12.994-12.994 c-3.232-3.232-8.663-3.814-12.994-1.616c-5.43,3.232-11.378,5.947-17.907,7.564c-4.848,1.099-8.145,5.43-8.145,10.279v17.907 h-29.285v-17.907c0-4.849-3.232-9.244-8.145-10.279c-6.529-2.198-12.477-4.331-17.907-7.564c-4.331-2.715-9.762-1.616-12.994,1.616 l-12.994,12.994l-20.558-20.622l12.994-12.994c3.232-3.232,3.814-8.663,1.616-12.994c-3.232-5.43-5.947-11.378-7.564-17.907 c-1.099-4.848-5.43-8.145-10.279-8.145H86.238v-29.285h17.907c4.848,0,9.244-3.232,10.279-8.145 c2.198-6.529,4.331-12.477,7.564-17.907c2.715-4.331,1.616-9.762-1.616-12.994l-12.994-12.994l20.558-20.558l12.994,12.994 c3.232,3.232,8.663,3.814,12.994,1.616c5.43-3.232,11.378-5.947,17.907-7.564c4.848-1.099,8.145-5.43,8.145-10.279V86.691h29.285 v17.907c0,4.848,3.232,9.244,8.145,10.279c6.529,2.198,12.477,4.331,17.907,7.564c4.331,2.715,9.762,1.616,12.994-1.616 l12.994-12.994l20.622,20.558l-13.059,13.059c-3.232,3.232-3.814,8.663-1.616,12.994c3.232,5.43,5.947,11.378,7.564,17.907 c1.099,4.331,5.43,7.564,10.279,8.145h17.907V180.428z">
                                </path>
                                <g>
                                    <path style="fill:#295d8e;"
                                        d="M313.858,158.772h-21.139c-1.099-2.715-2.198-4.848-3.232-7.564l14.61-14.61 c4.331-3.814,4.331-10.861,0-15.192l-35.749-35.749c-4.331-4.331-10.861-4.331-15.192,0l-14.61,14.61 c-2.198-1.099-4.848-2.198-7.564-3.232V75.895c0-5.947-4.848-10.861-10.861-10.861h-50.941c-5.947,0-10.861,4.848-10.861,10.861 v21.139c-2.715,1.099-4.848,2.198-7.564,3.232l-14.61-14.61c-3.814-4.331-10.861-4.331-15.192,0l-35.814,35.75 c-4.331,4.331-4.331,10.861,0,15.192l14.61,14.61c-1.099,2.198-2.198,4.848-3.232,7.564H75.377 c-5.947,0-10.861,4.848-10.861,10.861v50.941c0,5.947,4.848,10.861,10.861,10.861h21.139c1.099,2.715,2.198,4.848,3.232,7.564 l-14.61,14.61c-4.331,4.331-4.331,10.861,0,15.192l35.749,35.75c4.331,4.331,11.378,4.331,15.192,0l14.61-14.61 c2.198,1.099,4.848,2.198,7.564,3.232v21.139c0,5.947,4.848,10.861,10.861,10.861h50.941c5.947,0,10.861-4.848,10.861-10.861 v-21.139c2.715-1.099,4.848-2.198,7.564-3.232l14.61,14.61c4.331,4.331,10.861,4.331,15.192,0l35.749-35.749 c4.331-4.331,4.331-11.378,0-15.192l-14.093-15.192c1.099-2.198,2.198-4.848,3.232-7.564h21.139 c5.947,0,10.861-4.848,10.861-10.861v-50.941C324.719,163.685,319.806,158.772,313.858,158.772z M302.998,209.713h-17.907 c-4.848,0-9.244,3.232-10.279,8.145c-1.616,6.529-4.331,12.477-7.564,17.907c-2.198,4.331-1.616,9.762,1.616,12.994l12.994,12.994 l-20.558,20.622l-12.994-12.994c-3.232-3.232-8.663-4.331-12.994-1.616c-5.43,3.232-11.378,5.43-17.907,7.564 c-4.848,1.099-8.145,5.43-8.145,10.279v17.907h-29.285v-17.907c0-4.849-3.232-9.244-8.145-10.279 c-6.529-1.616-12.477-4.331-17.907-7.564c-4.331-2.198-9.762-1.616-12.994,1.616l-12.994,12.994l-20.622-20.622l12.994-12.994 c3.232-3.232,4.331-8.663,1.616-12.994c-3.232-5.43-5.43-11.378-7.564-17.907c-1.099-4.848-5.43-8.145-10.279-8.145H86.173v-29.285 h17.907c4.848,0,9.244-3.232,10.279-8.145c1.616-6.529,4.331-12.477,7.564-17.907c2.198-4.331,1.616-9.762-1.616-12.994 l-12.994-12.994l20.622-20.558l12.994,12.994c3.232,3.232,8.663,4.331,12.994,1.616c5.43-3.232,11.378-5.43,17.907-7.564 c4.848-1.099,8.145-5.43,8.145-10.279V86.691h29.285v17.907c0,4.848,3.232,9.244,8.145,10.279 c6.529,1.616,12.477,4.331,17.907,7.564c4.331,2.198,9.762,1.616,12.994-1.616l12.994-12.994l20.622,20.622l-13.059,12.994 c-3.232,3.232-4.331,8.663-1.616,12.994c3.232,5.43,5.43,11.378,7.564,17.907c1.099,4.848,5.43,8.145,10.279,8.145h17.907 L302.998,209.713L302.998,209.713z">
                                    </path>
                                    <path style="fill:#295d8e;"
                                        d="M195.167,124.638c-39.046,0-70.465,31.418-70.465,70.465s31.418,70.465,70.465,70.465 s70.465-31.418,70.465-70.465S234.214,124.638,195.167,124.638z M146.359,195.103c0-27.087,21.657-48.808,48.808-48.808 s48.808,21.657,48.808,48.808s-21.657,48.808-48.808,48.808S146.359,222.19,146.359,195.103z">
                                    </path>
                                    <path style="fill:#295d8e;"
                                        d="M379.41,184.242c-5.947,0-10.861,4.848-10.861,10.861c0,95.418-78.028,173.446-173.446,173.446 c-36.848,0-71.564-11.378-100.784-32.517h16.808c5.947,0,10.861-4.848,10.861-10.861c0-5.947-4.848-10.861-10.861-10.861H65.034 c-5.947,0-10.861,4.848-10.861,10.861v46.093c0,5.947,4.848,10.861,10.861,10.861s10.861-4.848,10.861-10.861v-21.657 c34.133,26.57,75.895,40.663,119.208,40.663c107.83,0,195.103-87.273,195.103-195.103 C390.27,189.156,385.422,184.242,379.41,184.242z">
                                    </path>
                                </g>
                                <path style="fill:#FFFFFF;"
                                    d="M195.167,146.295L195.167,146.295c-26.958,0-48.808,21.85-48.808,48.808l0,0 c0,26.958,21.85,48.808,48.808,48.808l0,0c26.958,0,48.808-21.85,48.808-48.808l0,0 C243.975,168.145,222.125,146.295,195.167,146.295z">
                                </path>
                            </g>
                            <g id="SVGRepo_iconCarrier">
                                <path style="fill:#295d8e;"
                                    d="M195.167,21.657c36.848,0,71.564,11.378,100.784,32.517h-16.808c-5.947,0-10.861,4.848-10.861,10.861 s4.848,10.861,10.861,10.861h46.093c5.947,0,10.861-4.848,10.861-10.861V18.941c0-5.947-4.848-10.861-10.861-10.861 s-10.861,4.848-10.861,10.861v21.657C280.242,14.093,238.545,0,195.167,0C87.337,0,0.064,87.273,0.064,195.103 c0,5.947,4.848,10.861,10.861,10.861s10.861-4.848,10.861-10.861C21.721,99.685,99.749,21.657,195.167,21.657z">
                                </path>
                                <path style="fill:#009dff;"
                                    d="M302.998,180.428v29.285h-17.907c-4.848,0-9.244,3.232-10.279,8.145 c-2.198,6.529-4.331,12.477-7.564,17.907c-2.715,4.331-1.616,9.762,1.616,12.994l12.994,12.994l-20.558,20.622l-12.994-12.994 c-3.232-3.232-8.663-3.814-12.994-1.616c-5.43,3.232-11.378,5.947-17.907,7.564c-4.848,1.099-8.145,5.43-8.145,10.279v17.907 h-29.285v-17.907c0-4.849-3.232-9.244-8.145-10.279c-6.529-2.198-12.477-4.331-17.907-7.564c-4.331-2.715-9.762-1.616-12.994,1.616 l-12.994,12.994l-20.558-20.622l12.994-12.994c3.232-3.232,3.814-8.663,1.616-12.994c-3.232-5.43-5.947-11.378-7.564-17.907 c-1.099-4.848-5.43-8.145-10.279-8.145H86.238v-29.285h17.907c4.848,0,9.244-3.232,10.279-8.145 c2.198-6.529,4.331-12.477,7.564-17.907c2.715-4.331,1.616-9.762-1.616-12.994l-12.994-12.994l20.558-20.558l12.994,12.994 c3.232,3.232,8.663,3.814,12.994,1.616c5.43-3.232,11.378-5.947,17.907-7.564c4.848-1.099,8.145-5.43,8.145-10.279V86.691h29.285 v17.907c0,4.848,3.232,9.244,8.145,10.279c6.529,2.198,12.477,4.331,17.907,7.564c4.331,2.715,9.762,1.616,12.994-1.616 l12.994-12.994l20.622,20.558l-13.059,13.059c-3.232,3.232-3.814,8.663-1.616,12.994c3.232,5.43,5.947,11.378,7.564,17.907 c1.099,4.331,5.43,7.564,10.279,8.145h17.907V180.428z">
                                </path>
                                <g>
                                    <path style="fill:#295d8e;"
                                        d="M313.858,158.772h-21.139c-1.099-2.715-2.198-4.848-3.232-7.564l14.61-14.61 c4.331-3.814,4.331-10.861,0-15.192l-35.749-35.749c-4.331-4.331-10.861-4.331-15.192,0l-14.61,14.61 c-2.198-1.099-4.848-2.198-7.564-3.232V75.895c0-5.947-4.848-10.861-10.861-10.861h-50.941c-5.947,0-10.861,4.848-10.861,10.861 v21.139c-2.715,1.099-4.848,2.198-7.564,3.232l-14.61-14.61c-3.814-4.331-10.861-4.331-15.192,0l-35.814,35.75 c-4.331,4.331-4.331,10.861,0,15.192l14.61,14.61c-1.099,2.198-2.198,4.848-3.232,7.564H75.377 c-5.947,0-10.861,4.848-10.861,10.861v50.941c0,5.947,4.848,10.861,10.861,10.861h21.139c1.099,2.715,2.198,4.848,3.232,7.564 l-14.61,14.61c-4.331,4.331-4.331,10.861,0,15.192l35.749,35.75c4.331,4.331,11.378,4.331,15.192,0l14.61-14.61 c2.198,1.099,4.848,2.198,7.564,3.232v21.139c0,5.947,4.848,10.861,10.861,10.861h50.941c5.947,0,10.861-4.848,10.861-10.861 v-21.139c2.715-1.099,4.848-2.198,7.564-3.232l14.61,14.61c4.331,4.331,10.861,4.331,15.192,0l35.749-35.749 c4.331-4.331,4.331-11.378,0-15.192l-14.093-15.192c1.099-2.198,2.198-4.848,3.232-7.564h21.139 c5.947,0,10.861-4.848,10.861-10.861v-50.941C324.719,163.685,319.806,158.772,313.858,158.772z M302.998,209.713h-17.907 c-4.848,0-9.244,3.232-10.279,8.145c-1.616,6.529-4.331,12.477-7.564,17.907c-2.198,4.331-1.616,9.762,1.616,12.994l12.994,12.994 l-20.558,20.622l-12.994-12.994c-3.232-3.232-8.663-4.331-12.994-1.616c-5.43,3.232-11.378,5.43-17.907,7.564 c-4.848,1.099-8.145,5.43-8.145,10.279v17.907h-29.285v-17.907c0-4.849-3.232-9.244-8.145-10.279 c-6.529-1.616-12.477-4.331-17.907-7.564c-4.331-2.198-9.762-1.616-12.994,1.616l-12.994,12.994l-20.622-20.622l12.994-12.994 c3.232-3.232,4.331-8.663,1.616-12.994c-3.232-5.43-5.43-11.378-7.564-17.907c-1.099-4.848-5.43-8.145-10.279-8.145H86.173v-29.285 h17.907c4.848,0,9.244-3.232,10.279-8.145c1.616-6.529,4.331-12.477,7.564-17.907c2.198-4.331,1.616-9.762-1.616-12.994 l-12.994-12.994l20.622-20.558l12.994,12.994c3.232,3.232,8.663,4.331,12.994,1.616c5.43-3.232,11.378-5.43,17.907-7.564 c4.848-1.099,8.145-5.43,8.145-10.279V86.691h29.285v17.907c0,4.848,3.232,9.244,8.145,10.279 c6.529,1.616,12.477,4.331,17.907,7.564c4.331,2.198,9.762,1.616,12.994-1.616l12.994-12.994l20.622,20.622l-13.059,12.994 c-3.232,3.232-4.331,8.663-1.616,12.994c3.232,5.43,5.43,11.378,7.564,17.907c1.099,4.848,5.43,8.145,10.279,8.145h17.907 L302.998,209.713L302.998,209.713z">
                                    </path>
                                    <path style="fill:#295d8e;"
                                        d="M195.167,124.638c-39.046,0-70.465,31.418-70.465,70.465s31.418,70.465,70.465,70.465 s70.465-31.418,70.465-70.465S234.214,124.638,195.167,124.638z M146.359,195.103c0-27.087,21.657-48.808,48.808-48.808 s48.808,21.657,48.808,48.808s-21.657,48.808-48.808,48.808S146.359,222.19,146.359,195.103z">
                                    </path>
                                    <path style="fill:#295d8e;"
                                        d="M379.41,184.242c-5.947,0-10.861,4.848-10.861,10.861c0,95.418-78.028,173.446-173.446,173.446 c-36.848,0-71.564-11.378-100.784-32.517h16.808c5.947,0,10.861-4.848,10.861-10.861c0-5.947-4.848-10.861-10.861-10.861H65.034 c-5.947,0-10.861,4.848-10.861,10.861v46.093c0,5.947,4.848,10.861,10.861,10.861s10.861-4.848,10.861-10.861v-21.657 c34.133,26.57,75.895,40.663,119.208,40.663c107.83,0,195.103-87.273,195.103-195.103 C390.27,189.156,385.422,184.242,379.41,184.242z">
                                    </path>
                                </g>
                                <path style="fill:#FFFFFF;"
                                    d="M195.167,146.295L195.167,146.295c-26.958,0-48.808,21.85-48.808,48.808l0,0 c0,26.958,21.85,48.808,48.808,48.808l0,0c26.958,0,48.808-21.85,48.808-48.808l0,0 C243.975,168.145,222.125,146.295,195.167,146.295z">
                                </path>
                            </g>
                        </svg><span class="badge bg-secondary">2</span>
                    </h5>
                    <h5 class="card-title text-center">Update Account</h5>
                    <p>Remember to keep us up-to-date with any changes to your details to continue receiving the latest
                        news, events and opportunities.</p>
                </div>
            </div>

            <div class="card cardAlumni" style="border:none;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <svg height="110" width="110" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 501.551 501.551"
                            xml:space="preserve" fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <polygon style="fill:#40596B;"
                                        points="480.653,414.825 399.151,427.363 360.49,501.551 299.886,417.959 257.045,358.4 376.163,271.673 431.543,347.951 ">
                                    </polygon>
                                    <polygon style="fill:#40596B;"
                                        points="244.506,358.4 201.665,416.914 141.061,501.551 102.4,427.363 20.898,414.825 70.008,346.906 125.388,271.673 ">
                                    </polygon>
                                </g>
                                <g>
                                    <path style="fill:#334A5E;"
                                        d="M125.388,271.673l119.118,87.771l-42.841,58.514c-2.09-1.045-3.135-2.09-4.18-2.09 c-1.045,0-2.09,0-3.135,0c-4.18,0-10.449,1.045-16.718,2.09c-7.314,2.09-14.629,3.135-22.988,3.135 c-7.314,0-14.629-1.045-19.853-5.224c-13.584-8.359-18.808-22.988-22.988-36.571c-2.09-7.314-5.224-14.629-7.314-17.763 c-3.135-3.135-10.449-5.224-17.763-7.314c-5.224-2.09-11.494-4.18-16.718-6.269L125.388,271.673z">
                                    </path>
                                    <path style="fill:#334A5E;"
                                        d="M431.543,347.951c-5.224,3.135-11.494,4.18-16.718,6.269c-7.314,2.09-14.629,5.224-17.763,7.314 c-3.135,3.135-5.224,10.449-8.359,17.763c-4.18,13.584-9.404,28.212-22.988,36.571c-5.224,3.135-12.539,5.224-19.853,5.224 c-7.314,0-15.673-1.045-22.988-3.135c-6.269-1.045-11.494-2.09-16.718-2.09c-1.045,0-2.09,0-3.135,0s-3.135,1.045-5.224,2.09 l-42.841-58.514l119.118-87.771L431.543,347.951z">
                                    </path>
                                </g>
                                <path style="fill:#578fff;"
                                    d="M466.024,215.249c0,17.763-26.122,32.392-31.347,49.11c-4.18,17.763,10.449,42.841,2.09,58.514 c-9.404,15.673-38.661,14.629-51.2,27.167s-11.494,42.841-27.167,51.2s-40.751-6.269-58.514-2.09 c-16.718,4.18-31.347,31.347-49.11,31.347s-32.392-26.122-49.11-31.347c-17.763-4.18-42.841,10.449-58.514,2.09 c-15.673-9.404-14.629-38.661-27.167-51.2c-12.539-12.539-42.841-11.494-51.2-27.167c-8.359-15.673,6.269-40.751,2.09-58.514 c-4.18-16.718-31.347-31.347-31.347-49.11s26.122-32.392,31.347-49.11c4.18-17.763-10.449-42.841-2.09-58.514 c9.404-15.673,38.661-14.629,51.2-27.167c12.539-12.539,11.494-42.841,27.167-51.2s40.751,6.269,58.514,2.09 C218.384,27.167,233.012,0,250.776,0s32.392,26.122,49.11,31.347c17.763,4.18,42.841-10.449,58.514-2.09 c15.673,9.404,14.629,38.661,27.167,51.2c12.539,12.539,42.841,11.494,51.2,27.167s-6.269,40.751-2.09,58.514 C439.902,182.857,466.024,197.486,466.024,215.249z">
                                </path>
                                <path style="fill:#FFFFFF;"
                                    d="M250.776,397.061c-2.09-2.09-4.18-4.18-6.269-5.224c-8.359-8.359-19.853-17.763-34.482-21.943 c-5.224-1.045-10.449-2.09-15.673-2.09c-9.404,0-18.808,2.09-26.122,3.135c-2.09,1.045-5.224,1.045-7.314,1.045 c-1.045-2.09-2.09-5.224-2.09-7.314c-4.18-11.494-8.359-26.122-19.853-36.571c-11.494-11.494-25.078-15.673-36.571-19.853 c-3.135,0-6.269-1.045-8.359-2.09c0-2.09,1.045-5.224,1.045-7.314c2.09-11.494,5.224-26.122,2.09-41.796 c-4.18-14.629-13.584-26.122-21.943-34.482c-2.09-2.09-4.18-4.18-5.224-6.269c2.09-2.09,4.18-4.18,5.224-6.269 c8.359-8.359,17.763-19.853,21.943-34.482c4.18-15.673,1.045-30.302-2.09-41.796c0-2.09-1.045-5.224-1.045-7.314 c2.09-1.045,5.224-2.09,7.314-2.09c11.494-4.18,26.122-8.359,36.571-19.853C149.42,92.996,153.6,79.412,157.78,67.918 c1.045-2.09,2.09-5.224,2.09-7.314c2.09,0,5.224,1.045,7.314,1.045c7.314,2.09,16.718,3.135,26.122,3.135 c5.224,0,10.449-1.045,15.673-2.09c15.673-5.224,26.122-14.629,35.527-22.988c2.09-2.09,4.18-4.18,6.269-5.224 c2.09,2.09,4.18,4.18,6.269,5.224c9.404,8.359,19.853,17.763,35.527,21.943c5.224,1.045,10.449,2.09,15.673,2.09 c9.404,0,18.808-2.09,26.122-3.135c2.09-1.045,5.224-1.045,7.314-1.045c1.045,2.09,2.09,5.224,2.09,7.314 c4.18,11.494,8.359,26.122,19.853,36.571c11.494,11.494,25.078,15.673,36.571,19.853c2.09,1.045,5.224,2.09,7.314,2.09 c0,2.09-1.045,5.224-1.045,7.314c-2.09,11.494-5.224,26.122-2.09,41.796c4.18,14.629,13.584,26.122,21.943,34.482 c2.09,2.09,4.18,4.18,5.224,6.269c-2.09,2.09-4.18,4.18-5.224,6.269c-8.359,8.359-17.763,19.853-21.943,34.482 c-4.18,15.673-1.045,30.302,2.09,41.796c0,2.09,1.045,5.224,1.045,7.314c-2.09,2.09-5.225,3.135-7.314,3.135 c-11.494,4.18-26.122,8.359-36.571,19.853c-11.494,11.494-15.673,25.078-19.853,36.571c-1.045,2.09-2.09,5.224-2.09,7.314 c-2.09,0-5.224-1.045-7.314-1.045c-7.314-2.09-16.718-3.135-26.122-3.135c-5.224,0-10.449,1.045-15.673,2.09 c-14.629,4.18-26.122,13.584-34.482,21.943C254.955,392.882,252.865,394.971,250.776,397.061z">
                                </path>
                                <polygon style="fill:#ff5c5c;"
                                    points="362.58,190.171 285.257,178.678 250.776,109.714 216.294,178.678 138.971,190.171 195.396,244.506 181.812,321.829 250.776,285.257 319.739,321.829 306.155,244.506 ">
                                </polygon>
                            </g>
                        </svg>
                    </h5>
                    <h5 class="card-title text-center">Perks</h5>
                    <p>As a part of our global alumni network, you can take advantage of a range of benefits.</p>
                </div>
            </div>

            <div class="card cardAlumni" style="border:none;">
                <div class="card-body" onclick="window.location = window.location.origin+'/support'"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <svg height="110" width="110" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"
                            fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path style="fill:#ECEBED;"
                                    d="M155.036,109.731H30.816c-11.218,0-20.311,9.094-20.311,20.311v77.123 c0,11.218,9.094,20.311,20.311,20.311h51.026l27.221,19.122v-19.122h45.974c11.218,0,20.311-9.094,20.311-20.311v-77.123 C175.347,118.825,166.253,109.731,155.036,109.731z">
                                </path>
                                <path style="fill:#1f66f4;"
                                    d="M213.867,319.119v20.352c0,6.799-4.088,12.932-10.365,15.548l-67.24,28.017 c-14.206,5.92-23.459,22.007-23.459,37.397v81.091h286.349v-81.091c0-15.389-9.254-31.478-23.458-37.397l-67.24-28.017 c-6.277-2.615-10.365-8.749-10.365-15.548v-20.352H213.867z">
                                </path>
                                <path style="fill:#102E4E;"
                                    d="M495.413,406.328c-18.208-11.27-42.14-18.219-68.422-18.51c-26.28,0.291-50.213,7.24-68.422,18.51 c-3.633,1.75-6.139,5.466-6.139,9.768v19.412c0,5.984,4.851,10.835,10.835,10.835h21.929c5.984,0,10.835-4.851,10.835-10.835 v-16.647c9.788-2.08,20.183-3.204,30.961-3.204s21.173,1.124,30.961,3.205v16.647c0,5.985,4.851,10.835,10.835,10.835h21.929 c5.985,0,10.835-4.851,10.835-10.835v-19.412C501.552,411.793,499.046,408.078,495.413,406.328z">
                                </path>
                                <path style="fill:#03203B;"
                                    d="M490.717,446.343h-21.929c-5.985,0-10.835-4.851-10.835-10.835v-16.647 c-9.788-2.08-20.183-3.205-30.961-3.205s-21.173,1.124-30.961,3.204v16.647c0,5.985-4.851,10.835-10.835,10.835h-21.929 c-0.243,0-0.485-0.01-0.724-0.027v47.158c0,4.446,3.603,8.049,8.049,8.049h115.348c4.446,0,8.049-3.603,8.049-8.049v-47.636 C492.956,446.166,491.857,446.343,490.717,446.343z">
                                </path>
                                <g>
                                    <circle style="fill:#d81818;" cx="256.149" cy="58.007" r="47.527"></circle>
                                    <path style="fill:#d81818;"
                                        d="M318.574,298.314c0,0,58.699-33.55,58.699-104.985c0-68.72-49.696-126.259-121.125-126.259h-0.159 c-71.429,0-121.125,57.539-121.125,126.259c0,71.434,58.699,104.985,58.699,104.985">
                                    </path>
                                </g>
                                <g>
                                    <path style="fill:#FEBBA0;"
                                        d="M162.314,168.723h-0.367v30.443c-12.925,0-23.403,10.478-23.403,23.403 c0,12.925,10.478,23.403,23.403,23.403v17.472c1.126,14.735,8.311,27.853,19.192,35.038l56.574,32.342 c11.36,7.503,25.173,7.503,36.533,0l56.405-32.342c10.879-7.185,18.233-20.303,19.36-35.038v-17.472 c12.925,0,23.403-10.478,23.403-23.403s-10.478-23.403-23.403-23.403v-30.443">
                                    </path>
                                    <path style="fill:#FEBBA0;"
                                        d="M298.088,319.119v37.474c0,23.081-18.978,41.966-42.06,41.966l0,0 c-23.081,0-42.161-18.884-42.161-41.966v-37.474">
                                    </path>
                                </g>
                                <circle style="fill:#d81818;" cx="272.552" cy="278.456" r="15.395"></circle>
                                <path
                                    d="M10.585,511.972h-0.137C4.677,511.972,0,507.295,0,501.525s4.677-10.448,10.448-10.448h0.137 c5.77,0,10.448,4.677,10.448,10.448S16.355,511.972,10.585,511.972z">
                                </path>
                                <path
                                    d="M501.501,511.972h-0.137c-5.77,0-10.448-4.677-10.448-10.448s4.677-10.448,10.448-10.448h0.137 c5.77,0,10.448,4.677,10.448,10.448S507.271,511.972,501.501,511.972z">
                                </path>
                                <path
                                    d="M294.08,235.476c-6.44,0-11.679-5.239-11.679-11.678c0-6.44,5.239-11.679,11.679-11.679c6.44,0,11.679,5.239,11.679,11.679 C305.758,230.237,300.519,235.476,294.08,235.476z">
                                </path>
                                <path
                                    d="M217.875,235.476c-6.44,0-11.679-5.239-11.679-11.678c0-6.44,5.239-11.679,11.679-11.679c6.44,0,11.679,5.239,11.679,11.679 C229.553,230.237,224.315,235.476,217.875,235.476z">
                                </path>
                                <path
                                    d="M112.545,150.792H45.239c-5.77,0-10.448-4.677-10.448-10.448c0-5.77,4.677-10.448,10.448-10.448h67.306 c5.77,0,10.448,4.677,10.448,10.448C122.993,146.114,118.315,150.792,112.545,150.792z">
                                </path>
                                <path
                                    d="M112.545,179.051H45.239c-5.77,0-10.448-4.677-10.448-10.448c0-5.77,4.677-10.448,10.448-10.448h67.306 c5.77,0,10.448,4.678,10.448,10.448C122.993,174.374,118.315,179.051,112.545,179.051z">
                                </path>
                                <path
                                    d="M83.506,207.309H45.239c-5.77,0-10.448-4.677-10.448-10.448c0-5.77,4.677-10.448,10.448-10.448h38.267 c5.77,0,10.448,4.678,10.448,10.448C93.954,202.632,89.277,207.309,83.506,207.309z">
                                </path>
                                <path
                                    d="M500.513,397.198c-20.369-12.489-46.417-19.528-73.404-19.828c-0.076-0.001-0.155-0.001-0.232,0 c-11.807,0.132-23.434,1.553-34.485,4.155c-3.834-3.459-8.128-6.236-12.679-8.133l-67.24-28.016 c-2.39-0.996-3.936-3.313-3.936-5.904v-16.269l27.31-15.659c0.19-0.109,0.377-0.225,0.561-0.346 c13.674-9.03,22.654-25.09,24.02-42.96c0.021-0.264,0.169-8.957,0.219-9.54c12.363-4.104,21.565-15.157,22.997-28.504 c2.706-10.602,4.081-21.658,4.081-32.866c0-36.539-12.988-70.637-36.572-96.012c-10.998-11.833-23.903-21.26-38.132-28.056 c0.731-3.691,1.11-7.451,1.11-11.254c0-31.969-26.009-57.978-57.978-57.978c-31.969,0-57.978,26.009-57.978,57.978 c0,3.78,0.374,7.516,1.096,11.186c-14.287,6.799-27.242,16.251-38.278,28.123c-0.603,0.649-1.194,1.306-1.782,1.966H30.816 c-16.96,0-30.758,13.798-30.758,30.758v77.123c0,16.96,13.798,30.758,30.758,30.758h47.724l24.518,17.225 c1.792,1.26,3.895,1.898,6.006,1.898c1.648,0,3.3-0.39,4.816-1.176c3.46-1.798,5.63-5.372,5.63-9.271v-8.674h12.286 c4.053,7.924,11.128,14.055,19.704,16.845v8.674c0,0.265,0.01,0.532,0.03,0.796c1.372,17.943,10.288,34.002,23.851,42.96 c0.187,0.123,0.378,0.24,0.573,0.352l27.466,15.702v16.219c0,2.59-1.545,4.907-3.936,5.904l-67.241,28.017 c-17.597,7.333-29.887,26.676-29.887,47.04v70.643H44.384c-5.77,0-10.448,4.677-10.448,10.448s4.677,10.448,10.448,10.448h423.179 c5.77,0,10.448-4.679,10.448-10.448s-4.677-10.448-10.448-10.448h-94.573v-34.285h12.204c11.736,0,21.283-9.547,21.283-21.283 v-7.914c13.421-1.979,27.6-1.98,41.027,0v7.913c0,11.736,9.547,21.283,21.283,21.283h14.751v13.041 c0,5.77,4.677,10.448,10.448,10.448s10.448-4.677,10.448-10.448v-18.078c4.62-3.907,7.565-9.736,7.565-16.246v-19.412 C512,408.183,507.512,400.834,500.513,397.198z M256.148,20.924c20.447,0,37.082,16.635,37.082,37.082 c0,1.241-0.067,2.475-0.188,3.7c-11.752-3.351-24.134-5.084-36.894-5.084h-0.159c-12.704,0-25.035,1.717-36.74,5.039 c-0.119-1.21-0.184-2.428-0.184-3.654C219.066,37.559,235.702,20.924,256.148,20.924z M124.417,193.329 c0,8.017,0.716,15.951,2.104,23.699h-17.458c-5.449,0-9.922,4.17-10.405,9.492l-10.81-7.593c-1.758-1.236-3.855-1.898-6.005-1.898 H30.816c-5.439,0-9.863-4.425-9.863-9.863v-77.123c0-5.439,4.425-9.863,9.863-9.863h113.13 C131.232,141.693,124.417,166.87,124.417,193.329z M255.99,77.518h0.159c63.063,0,110.626,49.736,110.676,115.707 c-2.007-1.156-4.131-2.13-6.369-2.859v-13.285c0-5.77-4.677-10.448-10.448-10.448h-73.33V144.82c0-4.65-3.073-8.741-7.539-10.034 c-4.466-1.296-9.251,0.519-11.737,4.447l-17.343,27.402h-78.112c-5.77,0-10.448,4.678-10.448,10.448v13.286 c-2.17,0.706-4.23,1.647-6.184,2.754C145.415,127.202,192.96,77.518,255.99,77.518z M186.639,289.59 c-7.984-5.406-13.283-15.291-14.245-26.569V245.97c0-5.77-4.678-10.448-10.448-10.448c-6.6,0-12.053-4.965-12.845-11.354 c0.022-0.61-0.008-1.228-0.097-1.848c0.134-7.028,5.882-12.708,12.942-12.708c5.77,0,10.448-4.678,10.448-10.448v-11.636h73.417 c3.582,0,6.913-1.834,8.828-4.86l1.599-2.526c1.309,4.276,5.288,7.387,9.992,7.387h73.33v11.637c0,5.77,4.677,10.448,10.448,10.448 c7.143,0,12.954,5.812,12.954,12.954c0,4.247-2.063,8.012-5.231,10.376c-1.891-1.892-4.504-3.062-7.39-3.062 c-5.77,0-10.448,4.677-10.448,10.448v5.198c-0.006,0.148-0.021,0.294-0.021,0.443v5.964c-0.221,8.898-7.514,16.073-16.465,16.073 H296.18c-4.021-9.058-13.096-15.395-23.629-15.395c-14.25,0-25.843,11.593-25.843,25.843c0,14.25,11.593,25.843,25.843,25.843 c10.532,0,19.607-6.337,23.629-15.395h27.228c0.96,0,1.91-0.048,2.852-0.12c-0.369,0.278-0.739,0.555-1.118,0.812l-56.094,32.165 c-0.191,0.11-0.377,0.225-0.561,0.346c-7.832,5.173-17.184,5.174-25.017,0c-0.187-0.123-0.377-0.24-0.573-0.352L186.639,289.59z M277.499,278.454c0,2.728-2.22,4.947-4.947,4.947s-4.947-2.22-4.947-4.947s2.22-4.947,4.947-4.947S277.499,275.726,277.499,278.454 z M287.64,335.185v21.409c0,17.379-14.181,31.518-31.612,31.518c-17.487,0-31.713-14.139-31.713-31.518v-21.395l7.938,4.539 c7.333,4.763,15.529,7.144,23.725,7.144c8.198,0,16.396-2.383,23.73-7.148L287.64,335.185z M352.096,453.589v37.488H123.251v-70.643 c0-11.776,7.321-23.707,17.029-27.753l64.007-26.669c4.469,24.419,25.962,42.994,51.742,42.994 c25.731,0,47.181-18.575,51.642-42.994l58.582,24.408c-4.457,2.04-8.734,4.296-12.78,6.776 c-6.999,3.635-11.487,10.984-11.487,18.897v19.413C341.985,443.144,346.039,449.833,352.096,453.589z M491.104,435.508 c0,0.214-0.174,0.388-0.388,0.388h-21.928c-0.214,0-0.388-0.174-0.388-0.388v-16.647c0-4.933-3.451-9.194-8.276-10.22 c-10.718-2.278-21.865-3.433-33.133-3.433c-11.27,0-22.418,1.155-33.133,3.433c-4.825,1.025-8.275,5.287-8.275,10.219v16.647 c0,0.214-0.174,0.388-0.388,0.388l-21.949-0.004c-0.204-0.011-0.368-0.177-0.368-0.383v-19.411c0-0.229,0.172-0.329,0.225-0.354 c0.33-0.159,0.653-0.335,0.964-0.529c17.209-10.651,39.551-16.667,62.923-16.946c23.372,0.279,45.714,6.295,62.923,16.946 c0.311,0.193,0.633,0.37,0.963,0.529c0.052,0.025,0.226,0.126,0.226,0.355V435.508z">
                                </path>
                                <path
                                    d="M217.443,454.509h-0.158c-5.77,0-10.448-4.677-10.448-10.448c0-5.77,4.678-10.448,10.448-10.448h0.158 c5.77,0,10.448,4.677,10.448,10.448C227.891,449.832,223.214,454.509,217.443,454.509z">
                                </path>
                                <path
                                    d="M182.532,454.51h-30.489c-5.77,0-10.448-4.677-10.448-10.448s4.678-10.448,10.448-10.448h30.489 c5.77,0,10.448,4.677,10.448,10.448S188.302,454.51,182.532,454.51z">
                                </path>
                            </g>
                        </svg>
                    </h5>
                    <h5 class="card-title text-center">Support</h5>
                    <p>Need a reference, lost your degree certificate, require your transcript? Find out more about the
                        services we provide our alumni network.</p>
                </div>
            </div>

            <div class="card cardAlumni" style="border:none;">
                <div class="card-body" onclick="window.location = window.location.origin+'/jobs'"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <svg width="110" height="110" viewBox="-3.84 -3.84 55.68 55.68"
                            xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000" stroke-width="0.576">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                stroke="#000000" stroke-width="0.096"></g>
                            <g id="SVGRepo_iconCarrier">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #2a82df;
                                        }

                                        .cls-2 {
                                            fill: #db3939;
                                        }

                                        .cls-3 {
                                            fill: #1b1d1d;
                                        }

                                        .cls-4 {
                                            fill: #121111;
                                        }
                                    </style>
                                </defs>
                                <title></title>
                                <g data-name="Business case" id="Business_case">
                                    <path class="cls-1"
                                        d="M2,21H46a0,0,0,0,1,0,0V45a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V21A0,0,0,0,1,2,21Z">
                                    </path>
                                    <path class="cls-2" d="M48,25c-7,8-39,8-48,0V11H48Z"></path>
                                    <path class="cls-2" d="M48,25c-7,8-39,8-48,0V11H48Z"></path>
                                    <rect class="cls-3" height="6" rx="1" ry="1" width="8" x="20" y="28"></rect>
                                    <path class="cls-4"
                                        d="M13.936,8.068l-4-.118A6.958,6.958,0,0,1,17.062,1h14a6.8,6.8,0,0,1,7,7h-4a2.824,2.824,0,0,0-3-3h-14A2.971,2.971,0,0,0,13.936,8.068Z">
                                    </path>
                                    <path class="cls-2" d="M47,8v3H0V9A1,1,0,0,1,1,8Z"></path>
                                    <path class="cls-2"
                                        d="M47,8h0a1,1,0,0,1,1,1v2a0,0,0,0,1,0,0H46a0,0,0,0,1,0,0V9A1,1,0,0,1,47,8Z">
                                    </path>
                                    <rect class="cls-1" height="7" rx="1" ry="1" width="18" x="15" y="15"></rect>
                                </g>
                            </g>
                        </svg>
                    </h5>
                    <h5 class="card-title text-center">Work With Us</h5>
                    <p>Solent University has a strong record of collaborating with both regional and national businesses
                        on research, consultancy projects, and creative briefs.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="d-flex flex-row gap-5 py-4 mx-4 flex-nowrap" style="overflow-x: scroll;">


            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body" onclick="window.location = window.location.origin+'/update-acc-alumni'"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <svg height="110" width="110" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-39.03 -39.03 468.33 468.33"
                            xml:space="preserve" fill="#295d8e" stroke="#295d8e" stroke-width="0.00390271"
                            transform="matrix(-1, 0, 0, -1, 0, 0)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                stroke="#295d8e" stroke-width="7.805420000000001">
                                <path style="fill:#295d8e;"
                                    d="M195.167,21.657c36.848,0,71.564,11.378,100.784,32.517h-16.808c-5.947,0-10.861,4.848-10.861,10.861 s4.848,10.861,10.861,10.861h46.093c5.947,0,10.861-4.848,10.861-10.861V18.941c0-5.947-4.848-10.861-10.861-10.861 s-10.861,4.848-10.861,10.861v21.657C280.242,14.093,238.545,0,195.167,0C87.337,0,0.064,87.273,0.064,195.103 c0,5.947,4.848,10.861,10.861,10.861s10.861-4.848,10.861-10.861C21.721,99.685,99.749,21.657,195.167,21.657z">
                                </path>
                                <path style="fill:#009dff;"
                                    d="M302.998,180.428v29.285h-17.907c-4.848,0-9.244,3.232-10.279,8.145 c-2.198,6.529-4.331,12.477-7.564,17.907c-2.715,4.331-1.616,9.762,1.616,12.994l12.994,12.994l-20.558,20.622l-12.994-12.994 c-3.232-3.232-8.663-3.814-12.994-1.616c-5.43,3.232-11.378,5.947-17.907,7.564c-4.848,1.099-8.145,5.43-8.145,10.279v17.907 h-29.285v-17.907c0-4.849-3.232-9.244-8.145-10.279c-6.529-2.198-12.477-4.331-17.907-7.564c-4.331-2.715-9.762-1.616-12.994,1.616 l-12.994,12.994l-20.558-20.622l12.994-12.994c3.232-3.232,3.814-8.663,1.616-12.994c-3.232-5.43-5.947-11.378-7.564-17.907 c-1.099-4.848-5.43-8.145-10.279-8.145H86.238v-29.285h17.907c4.848,0,9.244-3.232,10.279-8.145 c2.198-6.529,4.331-12.477,7.564-17.907c2.715-4.331,1.616-9.762-1.616-12.994l-12.994-12.994l20.558-20.558l12.994,12.994 c3.232,3.232,8.663,3.814,12.994,1.616c5.43-3.232,11.378-5.947,17.907-7.564c4.848-1.099,8.145-5.43,8.145-10.279V86.691h29.285 v17.907c0,4.848,3.232,9.244,8.145,10.279c6.529,2.198,12.477,4.331,17.907,7.564c4.331,2.715,9.762,1.616,12.994-1.616 l12.994-12.994l20.622,20.558l-13.059,13.059c-3.232,3.232-3.814,8.663-1.616,12.994c3.232,5.43,5.947,11.378,7.564,17.907 c1.099,4.331,5.43,7.564,10.279,8.145h17.907V180.428z">
                                </path>
                                <g>
                                    <path style="fill:#295d8e;"
                                        d="M313.858,158.772h-21.139c-1.099-2.715-2.198-4.848-3.232-7.564l14.61-14.61 c4.331-3.814,4.331-10.861,0-15.192l-35.749-35.749c-4.331-4.331-10.861-4.331-15.192,0l-14.61,14.61 c-2.198-1.099-4.848-2.198-7.564-3.232V75.895c0-5.947-4.848-10.861-10.861-10.861h-50.941c-5.947,0-10.861,4.848-10.861,10.861 v21.139c-2.715,1.099-4.848,2.198-7.564,3.232l-14.61-14.61c-3.814-4.331-10.861-4.331-15.192,0l-35.814,35.75 c-4.331,4.331-4.331,10.861,0,15.192l14.61,14.61c-1.099,2.198-2.198,4.848-3.232,7.564H75.377 c-5.947,0-10.861,4.848-10.861,10.861v50.941c0,5.947,4.848,10.861,10.861,10.861h21.139c1.099,2.715,2.198,4.848,3.232,7.564 l-14.61,14.61c-4.331,4.331-4.331,10.861,0,15.192l35.749,35.75c4.331,4.331,11.378,4.331,15.192,0l14.61-14.61 c2.198,1.099,4.848,2.198,7.564,3.232v21.139c0,5.947,4.848,10.861,10.861,10.861h50.941c5.947,0,10.861-4.848,10.861-10.861 v-21.139c2.715-1.099,4.848-2.198,7.564-3.232l14.61,14.61c4.331,4.331,10.861,4.331,15.192,0l35.749-35.749 c4.331-4.331,4.331-11.378,0-15.192l-14.093-15.192c1.099-2.198,2.198-4.848,3.232-7.564h21.139 c5.947,0,10.861-4.848,10.861-10.861v-50.941C324.719,163.685,319.806,158.772,313.858,158.772z M302.998,209.713h-17.907 c-4.848,0-9.244,3.232-10.279,8.145c-1.616,6.529-4.331,12.477-7.564,17.907c-2.198,4.331-1.616,9.762,1.616,12.994l12.994,12.994 l-20.558,20.622l-12.994-12.994c-3.232-3.232-8.663-4.331-12.994-1.616c-5.43,3.232-11.378,5.43-17.907,7.564 c-4.848,1.099-8.145,5.43-8.145,10.279v17.907h-29.285v-17.907c0-4.849-3.232-9.244-8.145-10.279 c-6.529-1.616-12.477-4.331-17.907-7.564c-4.331-2.198-9.762-1.616-12.994,1.616l-12.994,12.994l-20.622-20.622l12.994-12.994 c3.232-3.232,4.331-8.663,1.616-12.994c-3.232-5.43-5.43-11.378-7.564-17.907c-1.099-4.848-5.43-8.145-10.279-8.145H86.173v-29.285 h17.907c4.848,0,9.244-3.232,10.279-8.145c1.616-6.529,4.331-12.477,7.564-17.907c2.198-4.331,1.616-9.762-1.616-12.994 l-12.994-12.994l20.622-20.558l12.994,12.994c3.232,3.232,8.663,4.331,12.994,1.616c5.43-3.232,11.378-5.43,17.907-7.564 c4.848-1.099,8.145-5.43,8.145-10.279V86.691h29.285v17.907c0,4.848,3.232,9.244,8.145,10.279 c6.529,1.616,12.477,4.331,17.907,7.564c4.331,2.198,9.762,1.616,12.994-1.616l12.994-12.994l20.622,20.622l-13.059,12.994 c-3.232,3.232-4.331,8.663-1.616,12.994c3.232,5.43,5.43,11.378,7.564,17.907c1.099,4.848,5.43,8.145,10.279,8.145h17.907 L302.998,209.713L302.998,209.713z">
                                    </path>
                                    <path style="fill:#295d8e;"
                                        d="M195.167,124.638c-39.046,0-70.465,31.418-70.465,70.465s31.418,70.465,70.465,70.465 s70.465-31.418,70.465-70.465S234.214,124.638,195.167,124.638z M146.359,195.103c0-27.087,21.657-48.808,48.808-48.808 s48.808,21.657,48.808,48.808s-21.657,48.808-48.808,48.808S146.359,222.19,146.359,195.103z">
                                    </path>
                                    <path style="fill:#295d8e;"
                                        d="M379.41,184.242c-5.947,0-10.861,4.848-10.861,10.861c0,95.418-78.028,173.446-173.446,173.446 c-36.848,0-71.564-11.378-100.784-32.517h16.808c5.947,0,10.861-4.848,10.861-10.861c0-5.947-4.848-10.861-10.861-10.861H65.034 c-5.947,0-10.861,4.848-10.861,10.861v46.093c0,5.947,4.848,10.861,10.861,10.861s10.861-4.848,10.861-10.861v-21.657 c34.133,26.57,75.895,40.663,119.208,40.663c107.83,0,195.103-87.273,195.103-195.103 C390.27,189.156,385.422,184.242,379.41,184.242z">
                                    </path>
                                </g>
                                <path style="fill:#FFFFFF;"
                                    d="M195.167,146.295L195.167,146.295c-26.958,0-48.808,21.85-48.808,48.808l0,0 c0,26.958,21.85,48.808,48.808,48.808l0,0c26.958,0,48.808-21.85,48.808-48.808l0,0 C243.975,168.145,222.125,146.295,195.167,146.295z">
                                </path>
                            </g>
                            <g id="SVGRepo_iconCarrier">
                                <path style="fill:#295d8e;"
                                    d="M195.167,21.657c36.848,0,71.564,11.378,100.784,32.517h-16.808c-5.947,0-10.861,4.848-10.861,10.861 s4.848,10.861,10.861,10.861h46.093c5.947,0,10.861-4.848,10.861-10.861V18.941c0-5.947-4.848-10.861-10.861-10.861 s-10.861,4.848-10.861,10.861v21.657C280.242,14.093,238.545,0,195.167,0C87.337,0,0.064,87.273,0.064,195.103 c0,5.947,4.848,10.861,10.861,10.861s10.861-4.848,10.861-10.861C21.721,99.685,99.749,21.657,195.167,21.657z">
                                </path>
                                <path style="fill:#009dff;"
                                    d="M302.998,180.428v29.285h-17.907c-4.848,0-9.244,3.232-10.279,8.145 c-2.198,6.529-4.331,12.477-7.564,17.907c-2.715,4.331-1.616,9.762,1.616,12.994l12.994,12.994l-20.558,20.622l-12.994-12.994 c-3.232-3.232-8.663-3.814-12.994-1.616c-5.43,3.232-11.378,5.947-17.907,7.564c-4.848,1.099-8.145,5.43-8.145,10.279v17.907 h-29.285v-17.907c0-4.849-3.232-9.244-8.145-10.279c-6.529-2.198-12.477-4.331-17.907-7.564c-4.331-2.715-9.762-1.616-12.994,1.616 l-12.994,12.994l-20.558-20.622l12.994-12.994c3.232-3.232,3.814-8.663,1.616-12.994c-3.232-5.43-5.947-11.378-7.564-17.907 c-1.099-4.848-5.43-8.145-10.279-8.145H86.238v-29.285h17.907c4.848,0,9.244-3.232,10.279-8.145 c2.198-6.529,4.331-12.477,7.564-17.907c2.715-4.331,1.616-9.762-1.616-12.994l-12.994-12.994l20.558-20.558l12.994,12.994 c3.232,3.232,8.663,3.814,12.994,1.616c5.43-3.232,11.378-5.947,17.907-7.564c4.848-1.099,8.145-5.43,8.145-10.279V86.691h29.285 v17.907c0,4.848,3.232,9.244,8.145,10.279c6.529,2.198,12.477,4.331,17.907,7.564c4.331,2.715,9.762,1.616,12.994-1.616 l12.994-12.994l20.622,20.558l-13.059,13.059c-3.232,3.232-3.814,8.663-1.616,12.994c3.232,5.43,5.947,11.378,7.564,17.907 c1.099,4.331,5.43,7.564,10.279,8.145h17.907V180.428z">
                                </path>
                                <g>
                                    <path style="fill:#295d8e;"
                                        d="M313.858,158.772h-21.139c-1.099-2.715-2.198-4.848-3.232-7.564l14.61-14.61 c4.331-3.814,4.331-10.861,0-15.192l-35.749-35.749c-4.331-4.331-10.861-4.331-15.192,0l-14.61,14.61 c-2.198-1.099-4.848-2.198-7.564-3.232V75.895c0-5.947-4.848-10.861-10.861-10.861h-50.941c-5.947,0-10.861,4.848-10.861,10.861 v21.139c-2.715,1.099-4.848,2.198-7.564,3.232l-14.61-14.61c-3.814-4.331-10.861-4.331-15.192,0l-35.814,35.75 c-4.331,4.331-4.331,10.861,0,15.192l14.61,14.61c-1.099,2.198-2.198,4.848-3.232,7.564H75.377 c-5.947,0-10.861,4.848-10.861,10.861v50.941c0,5.947,4.848,10.861,10.861,10.861h21.139c1.099,2.715,2.198,4.848,3.232,7.564 l-14.61,14.61c-4.331,4.331-4.331,10.861,0,15.192l35.749,35.75c4.331,4.331,11.378,4.331,15.192,0l14.61-14.61 c2.198,1.099,4.848,2.198,7.564,3.232v21.139c0,5.947,4.848,10.861,10.861,10.861h50.941c5.947,0,10.861-4.848,10.861-10.861 v-21.139c2.715-1.099,4.848-2.198,7.564-3.232l14.61,14.61c4.331,4.331,10.861,4.331,15.192,0l35.749-35.749 c4.331-4.331,4.331-11.378,0-15.192l-14.093-15.192c1.099-2.198,2.198-4.848,3.232-7.564h21.139 c5.947,0,10.861-4.848,10.861-10.861v-50.941C324.719,163.685,319.806,158.772,313.858,158.772z M302.998,209.713h-17.907 c-4.848,0-9.244,3.232-10.279,8.145c-1.616,6.529-4.331,12.477-7.564,17.907c-2.198,4.331-1.616,9.762,1.616,12.994l12.994,12.994 l-20.558,20.622l-12.994-12.994c-3.232-3.232-8.663-4.331-12.994-1.616c-5.43,3.232-11.378,5.43-17.907,7.564 c-4.848,1.099-8.145,5.43-8.145,10.279v17.907h-29.285v-17.907c0-4.849-3.232-9.244-8.145-10.279 c-6.529-1.616-12.477-4.331-17.907-7.564c-4.331-2.198-9.762-1.616-12.994,1.616l-12.994,12.994l-20.622-20.622l12.994-12.994 c3.232-3.232,4.331-8.663,1.616-12.994c-3.232-5.43-5.43-11.378-7.564-17.907c-1.099-4.848-5.43-8.145-10.279-8.145H86.173v-29.285 h17.907c4.848,0,9.244-3.232,10.279-8.145c1.616-6.529,4.331-12.477,7.564-17.907c2.198-4.331,1.616-9.762-1.616-12.994 l-12.994-12.994l20.622-20.558l12.994,12.994c3.232,3.232,8.663,4.331,12.994,1.616c5.43-3.232,11.378-5.43,17.907-7.564 c4.848-1.099,8.145-5.43,8.145-10.279V86.691h29.285v17.907c0,4.848,3.232,9.244,8.145,10.279 c6.529,1.616,12.477,4.331,17.907,7.564c4.331,2.198,9.762,1.616,12.994-1.616l12.994-12.994l20.622,20.622l-13.059,12.994 c-3.232,3.232-4.331,8.663-1.616,12.994c3.232,5.43,5.43,11.378,7.564,17.907c1.099,4.848,5.43,8.145,10.279,8.145h17.907 L302.998,209.713L302.998,209.713z">
                                    </path>
                                    <path style="fill:#295d8e;"
                                        d="M195.167,124.638c-39.046,0-70.465,31.418-70.465,70.465s31.418,70.465,70.465,70.465 s70.465-31.418,70.465-70.465S234.214,124.638,195.167,124.638z M146.359,195.103c0-27.087,21.657-48.808,48.808-48.808 s48.808,21.657,48.808,48.808s-21.657,48.808-48.808,48.808S146.359,222.19,146.359,195.103z">
                                    </path>
                                    <path style="fill:#295d8e;"
                                        d="M379.41,184.242c-5.947,0-10.861,4.848-10.861,10.861c0,95.418-78.028,173.446-173.446,173.446 c-36.848,0-71.564-11.378-100.784-32.517h16.808c5.947,0,10.861-4.848,10.861-10.861c0-5.947-4.848-10.861-10.861-10.861H65.034 c-5.947,0-10.861,4.848-10.861,10.861v46.093c0,5.947,4.848,10.861,10.861,10.861s10.861-4.848,10.861-10.861v-21.657 c34.133,26.57,75.895,40.663,119.208,40.663c107.83,0,195.103-87.273,195.103-195.103 C390.27,189.156,385.422,184.242,379.41,184.242z">
                                    </path>
                                </g>
                                <path style="fill:#FFFFFF;"
                                    d="M195.167,146.295L195.167,146.295c-26.958,0-48.808,21.85-48.808,48.808l0,0 c0,26.958,21.85,48.808,48.808,48.808l0,0c26.958,0,48.808-21.85,48.808-48.808l0,0 C243.975,168.145,222.125,146.295,195.167,146.295z">
                                </path>
                            </g>
                        </svg>
                    </h5>
                    <h5 class="card-title text-center">Update Account</h5>
                    <p>Remember to keep us up-to-date with any changes to your details to continue receiving the latest
                        news, events and opportunities.</p>
                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/community.jpg" class="rounded" width="180px" height="110px">
                    </h5>
                    <h5 class="card-title text-center">Learning at Solent</h5>
                    <p class="card-text text-center">These are students who graduated and volunteered to help out
                        others.
                        Either just to talk about their experience, or about what facilities there are and so on. <br>
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/accommodation-banner-new.jpg" class="rounded" width="auto" height="110px">
                    </h5>
                    <h5 class="card-title text-center">Accommodation</h5>
                    <p class="card-text text-center">These are students who graduated and volunteered to help out
                        others.
                        Either just to talk about their experience, or about what facilities there are and so on. <br>
                    </p>

                </div>
            </div>


            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/student-support.jpg" class="rounded" width="auto" height="110px">
                    </h5>
                    <h5 class="card-title text-center">Life on campus</h5>
                    <p class="card-text text-center">These are students who graduated and volunteered to help out
                        others.
                        Either just to talk about their experience, or about what facilities there are and so on. <br>
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body" onclick="window.location = window.location.origin+'/NetworkingHub'"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/student_support.JPG" class="rounded" width="auto" height="110px">
                    </h5>
                    <h5 class="card-title text-center">Student support</h5>
                    <p class="card-text text-center">Talk with staff members or students who graduated and volunteered to help out
                        others. If you want to find out about their experience or about facilities they are a click away. <br>
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/social-media-2.jpg" class="rounded" width="auto" height="110px">
                    </h5>
                    <h5 class="card-title text-center">International students</h5>
                    <p class="card-text text-center">These are students who graduated and volunteered to help out
                        others.
                        Either just to talk about their experience, or about what facilities there are and so on. <br>
                    </p>

                </div>
            </div>




        </div>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="d-flex flex-row gap-5 py-4 mx-4 flex-nowrap" style="overflow-x: scroll;">

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/graphicstock-image-of-footballers-legs-kicking-soccer-ball-on-stadium-b66ptsgn.xdc35a589.jpg"
                            class="rounded" width="180px" height="110px">
                    </h5>
                    <h5 class="card-title text-center">Expert Comment On Football Governance White Paper</h5>
                    <p class="card-text text-center">Dr David Webber welcomes the White Paper but urges more needs to be
                        done if football’s political and economic crisis is to be addressed.
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/glastonbury-2017-hero.x5b999b3a.jpg" class="rounded" width="180px"
                            height="110px">
                    </h5>
                    <h5 class="card-title text-center">Solent TV Launches New Season</h5>
                    <p class="card-text text-center">Solent TV kicks off its new season on Valentine’s Day, with
                        ‘Couples Conundrum’ - a show that dares couples to answer some very honest questions about their
                        relationships
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/news-hero-image-wave-blue-background.x188d287e.jpg" class="rounded"
                            width="180px" height="110px">
                    </h5>
                    <h5 class="card-title text-center">Running On The Global Stage</h5>
                    <p class="card-text text-center">Talent, determination and hard work are taking Sport Management
                        student, Zakariya Mahamed, to the World Athletics Cross Country Championships in Australia next
                        week
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/solent-futures-events-laptop.x0c5bbec8.jpg" class="rounded" width="180px"
                            height="110px">
                    </h5>
                    <h5 class="card-title text-center">Expert Comment On Football Governance White Paper</h5>
                    <p class="card-text text-center">Dr David Webber welcomes the White Paper but urges more needs to be
                        done if football’s political and economic crisis is to be addressed.
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/graphicstock-image-of-footballers-legs-kicking-soccer-ball-on-stadium-b66ptsgn.xdc35a589.jpg"
                            class="rounded" width="180px" height="110px">
                    </h5>
                    <h5 class="card-title text-center">Expert Comment On Football Governance White Paper</h5>
                    <p class="card-text text-center">Dr David Webber welcomes the White Paper but urges more needs to be
                        done if football’s political and economic crisis is to be addressed.
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/glastonbury-2017-hero.x5b999b3a.jpg" class="rounded" width="180px"
                            height="110px">
                    </h5>
                    <h5 class="card-title text-center">Solent TV Launches New Season</h5>
                    <p class="card-text text-center">Solent TV kicks off its new season on Valentine’s Day, with
                        ‘Couples Conundrum’ - a show that dares couples to answer some very honest questions about their
                        relationships
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/news-hero-image-wave-blue-background.x188d287e.jpg" class="rounded"
                            width="180px" height="110px">
                    </h5>
                    <h5 class="card-title text-center">Running On The Global Stage</h5>
                    <p class="card-text text-center">Talent, determination and hard work are taking Sport Management
                        student, Zakariya Mahamed, to the World Athletics Cross Country Championships in Australia next
                        week
                    </p>

                </div>
            </div>

            <div class="card" style="width: 30vw; border:none;min-width: 300px;">
                <div class="card-body"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h5 class="card-title">
                        <img src="../img/solent-futures-events-laptop.x0c5bbec8.jpg" class="rounded" width="180px"
                            height="110px">
                    </h5>
                    <h5 class="card-title text-center">Expert Comment On Football Governance White Paper</h5>
                    <p class="card-text text-center">Dr David Webber welcomes the White Paper but urges more needs to be
                        done if football’s political and economic crisis is to be addressed.
                    </p>

                </div>
            </div>



        </div>
    </div>
</div>



<script defer>
    const rootz = document.documentElement;
    var bgposY = -450;
    var bgposX = 50;
    let WW = window.innerWidth > 1000;
    let operation = "sub";

    onresize = (event) => {
        bgposY = 0;
        bgposX = 0;
        WW = window.innerWidth > 1000;
    };

    setInterval(() => {
        if (WW) {
            switch (operation) {
                case "sub":
                    rootz.style.setProperty("--bgposY", (bgposY -= 25));
                    rootz.style.setProperty("--bgposX", 50);
                    if (bgposY < -700) {
                        operation = "add";
                    }
                    break;

                case "add":
                    rootz.style.setProperty("--bgposY", (bgposY += 25));
                    rootz.style.setProperty("--bgposX", 50);
                    if (bgposY > -150) {
                        operation = "sub";
                    }
                    break;
            }
        } else {
            switch (operation) {
                case "sub":
                    rootz.style.setProperty("--bgposX", (bgposX -= 5));
                    rootz.style.setProperty("--bgposY", 0);
                    if (bgposX < 15) {
                        operation = "add";
                    }
                    break;

                case "add":
                    rootz.style.setProperty("--bgposX", (bgposX += 5));
                    rootz.style.setProperty("--bgposY", 0);
                    if (bgposX > 75) {
                        operation = "sub";
                    }
                    break;
                default:

            }
        }
    }, 500);

</script>