<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-center my-2">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Jobs</li>
    </ol>
</nav>

<div class="position-relative d-flex flex-column w-100" style="height: 400px;
background: linear-gradient(0deg, rgb(0 0 0 / 89%), rgb(0 0 0 / 69%), rgb(0 0 0 / 75%)), url(../img/solent-futures-landing-banner.jpg);
background-size: cover;">
    <!-- <img src="../img/solent-futures-landing-banner.jpg" style="filter: brightness(.2);"> -->
    <div class="position-absolute" style="background-color: rgba(255, 255, 255, 0.678);color: black;top: 20%; left: 10%; padding: 1rem 3rem;border-bottom: 1px solid red;
    ">
        <p>Welcome to the <span style="border-bottom: 1px solid red;">Jobs</span> Section</p>
        <p>Solent Futures is Solent University's careers, employability and enterprise service. </p>
    </div>

</div>



<div class="d-flex flex-row w-75 gap-3 mt-2 mx-auto" style="border: 1px solid;padding: 6px;border-radius: 10px;">
    <label style="transform: translate(6px, -16px);
    -webkit-transform: translate(6px, -16px);position: absolute;
    -moz-transform: translate(6px, -16px);
    -ms-transform: translate(6px, -16px);
    -o-transform: translate(6px, -16px);
    background-color: white;
    padding: 0 5px;
    font-size: smaller;
    width: fit-content;">Filters</label>

    <div class="styled-input w-75 mt-2">
        <input class="w-100" required="" type="text" id="a1" style="outline: none;" oninput="check(this.value)">
        <label>Search...</label>
    </div>  

    <button type="button" class="btn btn-primary w-25 m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Vacancy Type
        
    </button>

    <button type="button" class="btn btn-primary w-25 m-1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Position Type
        
    </button>

</div>

<div class="container">
    <div class="row w-100 align-items-center justify-content-center">

        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Web Developer</p>
            <p>Solent University is a dynamic institution, specialising in innovative courses with strong industry
                links. The Web Developer will join an award-winnin...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>

        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Business Configuration Support - Finance</p>
            <p>Job Purpose:Work on the SRS replacement project with the business solution, strand leads and Tribal teams in each area to ensure that the new student ...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>


        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Business Partner - Organisational Design</p>
            <p>We have an exciting position available to join our Organisational Design team.  Reporting to the Senior Partner-OD, your role will be pivotal in ...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>

        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Student Registry Officer</p>
            <p>An opportunity has arisen to be part of the University’s Registry team within the Policy, Governance and Information Service as a Registry Offic...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>

        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Associate Lecturer Ship Handling</p>
            <p>Part Time Hourly PaidAs part of the Warsash Maritime School, our Ship Handling Centre, offers comprehensive hands on Ship Handling courses to Maritime...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>


        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Web Developer</p>
            <p>Solent University is a dynamic institution, specialising in innovative courses with strong industry
                links. The Web Developer will join an award-winnin...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>

        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Business Configuration Support - Finance</p>
            <p>Job Purpose:Work on the SRS replacement project with the business solution, strand leads and Tribal teams in each area to ensure that the new student ...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>


        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Business Partner - Organisational Design</p>
            <p>We have an exciting position available to join our Organisational Design team.  Reporting to the Senior Partner-OD, your role will be pivotal in ...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>

        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Student Registry Officer</p>
            <p>An opportunity has arisen to be part of the University’s Registry team within the Policy, Governance and Information Service as a Registry Offic...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>

        <div class="col m-2 p-4 border border-4" style="max-width: 350px;min-width: 300px;">
            <p class="jobclassx">Associate Lecturer Ship Handling</p>
            <p>Part Time Hourly PaidAs part of the Warsash Maritime School, our Ship Handling Centre, offers comprehensive hands on Ship Handling courses to Maritime...</p>
            <p class="d-flex flex-column">
                <span class="jobclass">
                    <span class="jobclass_type">School/Service:</span> 
                    <span class="jovalue">External Relations</span>
                </span>
                    
                <span class="jobclass">
                    <span class="jobclass_type">Salary:</span>
                    <span class="jovalue">£29,619 - £34,308</span>
                </span> 
                
                <span class="jobclass">
                    <span class="jobclass_type">Vacancy Type Filter:</span>
                    <span class="jovalue">Support</span>
                </span>
                
                <span class="jobclass">
                    <span class="jobclass_type">Terms of Contract:</span> 
                    <span class="jovalue">Indefinite</span>
                </span>
            </p>

            <p><button type="button" class="btn btn-light border border-1">Read More</button>
            <button type="button" class="btn btn-danger border border-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Apply</button></p>
        </div>


    </div>
</div>

<script defer>

function check(i){
    document.querySelectorAll('.jobclassx').forEach(div => {
        console.log(String(div.innerText).toLowerCase().indexOf(i.toLowerCase()));
        if(String(div.innerText).toLowerCase().indexOf(i.toLowerCase()) >= 0){
            div.parentElement.classList.remove('hide')
            setTimeout(() => {
                div.parentElement.classList.remove('opz')
            }, 500);
        } else {
                div.parentElement.classList.add('opz')
            setTimeout(() => {
                div.parentElement.classList.add('hide')
            }, 500);
        }  
    });
}

</script>
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Application Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">

                <ul class="nav nav-pills mb-3 align-items-center" id="pills-tab2" role="tablist">
                    <li class="nav-item" role="presentation" style="flex-basis: 15%;white-space: nowrap;">
                        <button class="nav-link active" id="pills-home-tab2" data-bs-toggle="pill" data-bs-target="#pills-home2" type="button" role="tab" aria-controls="pills-home2" aria-selected="true">
                            <span>Step 1</span></button>
                    </li>>
                    <li class="nav-item" role="presentation" style="flex-basis: 15%;white-space: nowrap;">
                        <button id="np2x" class="nav-link" id="pills-profile-tab2" data-bs-toggle="pill" data-bs-target="#pills-profile2" type="button" role="tab" aria-controls="pills-profile2" aria-selected="false"> <span>
                                Step 2</span></button>
                    </li>>
                    <li class="nav-item" role="presentation" style="flex-basis: 15%;white-space: nowrap;">
                        <button id="np3x" class="nav-link" id="pills-contact-ta2b" data-bs-toggle="pill" data-bs-target="#pills-contact2" type="button" role="tab" aria-controls="pills-contact2" aria-selected="false"> <span>
                            Complete
                            </span></button>
                    </li>
                </ul>
                
                <div class="tab-content position-relative" id="pills-tabContent2">
                    <div class="tab-pane fade show active d-flex flex-column align-items-center gap-2" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2">
                        <div class="styled-input w-75" onclick="ac()">
                            <input required="" type="text" id="az1" class="w-100">
                            <label>Name</label>
                        </div>
            
                        <div class="styled-input w-75" onclick="ac()">
                            <input required="" type="text" id="az2" class="w-100">
                            <label>Date Of Birth</label>
                        </div>
            
                        <div class="styled-input w-75" onclick="ac()">
                            <input required="" type="text" id="az3" class="w-100">
                            <label>Address</label>
                        </div>
            
                        <div class="styled-input mb-4 d-flex align-items-end w-75">
                            <button style="transition: 1s;height: 30px;padding: 0 3rem!important;" type="button" onclick="document.getElementById('np2x').click()">Next!</button>
                        </div>

                    </div>
                    <div class="tab-pane d-flex flex-column align-items-center gap-2 fade " id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">
                        <div class="styled-input w-75 d-flex flex-column gap-1" onclick="ac()" style="height: unset;">
                            <span><button class="mx-3">Choose File</button> my-CV.docx</span>
                            <span><button class="mx-3">Choose File</button> letter-of-intent.docx</span>
                            <div class="alert alert-success d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                <div>
                                  Files have been successfully uploaded!
                                </div>
                              </div>
                            
                        </div>
            
                        <div class="styled-input mb-4 d-flex align-items-end w-75">
                            <button style="transition: 1s;height: 30px;padding: 0 3rem!important;" type="button" onclick="document.getElementById('np3x').click()">Next!</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab2">
                        <div class="alert alert-success" role="alert">Congratulation! Your application has beed submitted. <br><br> Thank you for your interest in our company and the team will start the verification process and you will notify you of any updates!</div>
                    </div>    
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="display: none;">Apply filters</button>
            </div>
        </div>
    </div>
</div>

<script>
    let aced = false
    function ac(){
        if(aced) return
        document.getElementById('az1').value = `Jim Johnson`
        document.getElementById('az2').value = `25/06/1990`
        document.getElementById('az3').value = `7 Dove Street, Worcester, WR5 9EF`
        aced = true
    }
</script>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Study Level</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">
                <span><input type="checkbox"> Academic</span>
                <span><input type="checkbox"> Support</span>
                <span><input type="checkbox"> Senior Management</span>
                <span><input type="checkbox"> Research</span>
                <span><input type="checkbox"> Technician</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply filters</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">
                <span><input type="checkbox"> Full-Time</span>
                <span><input type="checkbox"> Part-Time</span>
                <span><input type="checkbox"> Casual</span>
                <span><input type="checkbox"> Freelancer</span>
                <span><input type="checkbox"> Contract Based</span>
                <span><input type="checkbox"> Temporary</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply filters</button>
            </div>
        </div>
    </div>
</div>